@charset "utf-8";
%ty_sp{background:url(../images/ty_sp.png) no-repeat ;}
.ty_select{ @extend %ty_sp; height:6px;width:10px;background-position:0 0;}
.ty_time{ @extend %ty_sp; height:11px;width:11px;background-position:0 -10px;}
.ty_add{ @extend %ty_sp; height:14px;width:14px;background-position:0 -25px;}
.ty_link2{ @extend %ty_sp; height:14px;width:14px;background-position:0 -43px;}
.ty_link{ @extend %ty_sp; height:14px;width:14px;background-position:0 -61px;}
.ty_date{ @extend %ty_sp; height:16px;width:16px;background-position:0 -79px;}
.ty_select2{ @extend %ty_sp; height:6px;width:10px;background-position:0 -99px;}


.ty_content{ }
.ty_Ctop{ padding-top: 11px;
	li{ float: left; position: relative; }
	.fr{ float: right; }
	.w102{ width: 102px; }
	.w110{ width: 110px; }
	.w100{ width: 100px; }
	.w144{ width: 144px; }
	.w155{ width: 155px; }
	.w114{ width: 114px; }
	.w210{ width: 210px; }
	.bottom{ width: 100%; margin-top: 18px; }
	span,input,select{ margin-top: 9px; float: left; }
	span{ color: #000; font-size: 12px; height: 35px; line-height: 35px; margin-right: 6px; }
	input{ height: 33px; width: 164px; line-height: 33px; border:1px solid #d9d9d9; border-radius: 2px; margin-right: 12px; color: #999; text-indent: 8px }
	select{ height: 35px; line-height: 35px; width: 102px; border:1px solid #d9d9d9; border-radius: 2px; margin-right: 12px; font-family: "微软雅黑"; color: #999; font-size: 14px; }
	option{ font-size: 14px; height: 35px; line-height: 35px; color: #999; font-family: "微软雅黑" }
	.l_gry{ margin-left: 10px; }
	.l_red{ margin-top: 9px; }
	.ty_date{ display: block; position: absolute; top: 18px; right: 20px; cursor: pointer; }
	::-webkit-input-placeholder { /* WebKit browsers */
		font-size: 14px;
		color: #999;
		font-family: "微软雅黑"
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		font-size: 14px;
		color: #999;
		font-family: "微软雅黑"
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		font-size: 14px;
		color: #999;
		font-family: "微软雅黑"
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
		font-size: 14px;
		color: #999;
		font-family: "微软雅黑"
	} 
}
.ty_nearby{ 
	.w114{ margin-right: 6px; }
}
.ty_lanmu select{ margin-right: 10px; }
.ty_list{ position: relative;
	.d-table{ margin-top: 8px; border-top-left-radius: 2px; border-top-right-radius: 2px;
		td{ padding: 10px 0 }
		span{ border-right:2px solid #e1e0e0; height: 26px; line-height: 26px; }
		.tl{ text-align: left; padding-left: 12px; }
	}
	.d-pages{
		border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;
	}
	.last{
		a{ margin-left: 12px; 
			&:first-child{ margin-left: 0; }
		}
		.a1:hover{ color: #5b5b6a }
		.a2:hover{ color: #d00004 }
		.a2_2{ color: #0a92d6 }
		.a3:hover{ color: #ffa72b }
		.a4:hover{ color: #88c70a }
	}
	.a5{ color: #d00004 }
	td em{ display: inline-block; width: 16px; height: 16px; line-height: 16px; background: #ffa72b; color: #fff; font-size:  11px; border-radius: 3px; text-align: center; margin-left: 4px; vertical-align: middle; }
	.ty_time{ display: inline-block; vertical-align: top; margin-top: 3px; }
	.ding{ background: #f73f4b }
	.time{ background: #9eb9ce; }
	.ty_link{ display: inline-block; vertical-align: middle; margin-left: 3px; }
	.link{ position: relative;  margin:  0 16px;
		i{ position: absolute; right: -16px; top: 0 }
		&:hover{ color: #7099ba;
			.ty_link{ background-position:0 -43px; }
		}
	}
	.rec{ display: inline-block; font-style: normal; margin: 0 24px; position: relative;
		em{ position: absolute; top: 4px; right: -20px }
	}
	.ty_add{ display: inline-block; margin: -3px 5px 0 0;vertical-align: middle; *margin-top: 0px; }
}
.ty_new{ display: block; position: absolute; top: -33px; right: 0; height: 32px; line-height: 32px; width: 78px; border: 1px solid #e6e6e6; border-bottom: 0; background: #f6f6f7; border-top-left-radius: 4px; border-top-right-radius: 4px; text-align: center; color: #ff392a; font-size: 14px; *line-height: 35px; }
.ty_Nores{ width: 100%; border:1px solid #e6e6e6; background: #eff0f0; color: #999; font-size: 16px; height: 140px; line-height: 140px; text-align: center; margin-top: 20px; border-radius: 3px; 
	span{ color: #ff392a }
}
.ty_list .d-table .ty_selectIn{ 
	span{ display: inline-block; width: 18px; border: 1px solid #e9e9e9; background: #fff; height: 18px; line-height: 18px; vertical-align: top; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-right:1px solid #e9e9e9;
		&:first-child{ width: 58px; border-right: 0; border-top-left-radius: 2px; border-bottom-left-radius: 2px; border-top-right-radius: 0; border-bottom-right-radius: 0; }
	}
	.on span{ border: 1px solid #ff9ea0; 
		&:first-child{ border-right: 0; }
	}
	.ty_select2{ display: inline-block; vertical-align: middle; }
}
.ty_selectul{ background: #fff; position: relative; width: 79px; height: 0;
	ul{ position: absolute; left: 0; top: -1px; border: 1px solid #ff9ea0; z-index: 2; width: 77px; background: #fff; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; padding: 5px 0; }
	li{ text-align: left; text-indent: 6px; cursor: pointer; height: 20px; line-height: 20px; }
}
.ty_selectIn{ height: 20px; width: 79px;  margin: 0 auto; }
.ty_selectsee{  cursor: pointer; }
// table tr{ position: relative; z-index: 1 }