<div class="content_wrapper b_wrapper {$jsflag}">
	<h2 class="b_title d-mt20">{$binds.cate}</h2>
	<div class="d-tabbox">
		<ul class="d-nav">
		<foreach name="binds.catelist.child" item="item" key="k">
			<li><a class="<eq name='k' value='$binds.cid'>d-cur</eq>" href="<?php echo url('cate', array('id'=>$k, 'city'=>$city['code']), 'touch', 'baike'); ?>">{$item.name}</a></li>
		</foreach>
		</ul>
		<div class="d-pane">
			<div class="d-panebox">
			<volist name="list" id="item">
				<h3>{$item.name}</h3>
				<volist name="item.list" id="ii">
				<div class="d-word">
					<h4><a href="<?php echo url('show', array($ii['id']), 'touch', 'baike'); ?>">{$ii.title}</a></h4>
					<div class="d-tag">
						<volist name="ii.tags" id="t">
						<a href="<?php echo url('agg', array('tag'=>$t, 'city'=>$city['code']), 'touch', 'baike');?>">{$t}</a>
						</volist>
					</div>
				</div>
				</volist>
				<a class="d-more" href="<?php echo url('list', array('id'=>$item['cateid'], 'city'=>$city['code']), 'touch', 'baike'); ?>">查看更多</a>
			</volist>
			</div>
		</div>
	</div>
</div>