<link href="http://cdn.ljimg.com/cms2.0/js/Controls/cropper-master/dist/cropper.css" rel="stylesheet" type="text/css">
<div class="ty_content">
    <h3 class="d-title clearfix">
       <span>内容编辑</span>
       <div class="b_title_r">
       <notempty name="histroy_info">
           <span class="tit">历史版本：</span>
           <select class="w235">

           		<foreach name="histroy_info" key="k" item="vo">
               <notempty name="vo">
               <option value="/Wiki/edit2?&id={$vo.id}&history_id={$vo.pkid}" <if condition="$vo['pkid'] eq $history_id">selected</if>>
                   v{$histroy_num-$k}{$vo.editor} {$vo.version|date='Y-m-d H:i:s',###}
               </option>
               </notempty>
               </foreach>

           </select>
           </notempty>
       </div>
    </h3>
    <div class="b_wrapper">
        <div class="b_main">
            <form id="entryForm" <notempty name="id">asyn-action="/Wiki/edit2"<else />asyn-action="/Wiki/Add2"</notempty> method="post">
            	<input type="hidden" class="inp w285" needed="true" name="from" value="<empty name="data.src_type">0<else />{$data.src_type}</empty>">
                <notempty name="data.src_url">
                <div class="b_card">
	                <span>词条来源：</span>
	                <div class="inpBox">
	                    <a class="url" target=_blank href="{$data.src_url}" name="fromurl">{$data.src_url}</a>
	                    <input type="hidden" class="inp w285" needed="true" name="fromurl" value="{$data.src_url}">
	                </div>
                </div>
                </notempty>
		        <div class="b_card">
					<span>词条中文：</span>
					<div class="inpBox">
					    <input type="hidden" class="inp w285" id="check_id" name="id" value="{$data.id}">
					    <input type="text" class="inp w285" id="check_1" name="entry" value="{$data.title}" needed="true" tooltip="[必填]" <notempty name="id">readonly</notempty>>
					</div>
		        </div>
				<div class="b_card">
				    <span>词条拼音：</span>
				    <div class="inpBox">
				        <input type="text" class="inp w285" name="pinyin" value="{$data.pinyin}" needed="true" tooltip="[必填]">
				    </div>
				</div>
				<div class="b_card clearfix">
				    <span>内容：</span>
				    <div class="inpBox07">
				        <div class="b_editBox" id="ueditorsc">
				        </div>
				        <textarea name="content" needed="true" tooltip="[必填]" id="ueditor" style="display: none;">{$data.content}</textarea>
				    </div>
				</div>
				<div class="b_card clearfix">
				    <span>配图：</span>
				    <div class="inpBox">
				        <div class="left">
				        <img class="sin_preview" src="<empty name="data.cover">{$cdn_img_url}images/bImg01.png<else/>{$data.cover}</empty>" alt="" need =true>
				        <input name="pic" class="imgurl" needed="true" tooltip="[必填]" value="{$data.cover}" style="display: none;">
				        </div>
				        <div class="right fileupload" id="picExp_upbtn">
				            <!-- <input type="button" class="l_btn l_grn fileupload" value="点击上传图片"> -->
				            <p>请选择jpg、gif格式，小于2M的图</p>
				        </div>
				    </div>
				</div>
				<div class="b_card">
				    <span>作者：</span>
				    <div class="inpBox">
				    	<input type="hidden" class="inp"  name="creatorid" <if condition="$data['editorid'] != ''">value="{$data.editorid}"<else />value="{$userinfo.id}"</if>>
				        <input type="text" class="inp" name="creator" <if condition="$data['editor'] != ''">value="{$data.editor}"<else />value="{$userinfo.truename}"</if> needed="true" tooltip="[必填]">
				    </div>
				</div>
				<div class="b_card clearfix">
				    <span>定时发布：</span>
				    <div class="date inpBox07">
				        <input type="text" name="releasetime" <if condition="$data[ptime]">value="{$data.ptime|date='Y-m-d H:i:s',###}"</if> class="inp w215" id="pubdate" >
				        <i></i>
				        <em>不更改时间立即发布；选择将来时间定时发布</em>
				    </div>
				</div>
				<div class="b_card clearfix">
				    <span>推荐：</span>
				    <div class="inpBox07">
				        <h2>
				        <input type="checkbox" name="index_focus" class="checkbox" <php>if($data['focus_time'])echo 'checked'</php>><b>首页焦点图</b>
				        <input type="text" name="focus_title" placeholder="自定义推荐标题" class="inp" value="{$data.focus_title}">
				        <img src="<empty name="data.focus_pic">{$cdn_img_url}images/bImg02.png<else/>{$data.focus_pic}</empty>" class="sin_preview fileupload"  alt="">
				        <!-- <input type="button" class="l_btn l_grn fileupload" value="自定义图片"> -->
				        <em class="y_lh">请选择jpg、gif格式，小于2M的图<br/>默认取标题和配图，可以定义显示标题和图片</em>
				        <input name="focus_pic" class="imgurl" value="{$data.focus_pic}" style="display: none;">
				    </h2>
				        <h2>
				        <input type="checkbox" class="checkbox" name="index_celebrity" <php>if($data['celebrity_time'])echo 'checked'</php>><b>首页名人</b>
				        <input type="text" name="celebrity_title"  placeholder="自定义推荐标题" class="inp" value="{$data.celebrity_title}">
				        <img src="<empty name="data.celebrity_pic">{$cdn_img_url}images/bImg02.png<else/>{$data.celebrity_pic}</empty>" class="sin_preview fileupload"  alt="">
				        <!-- <input type="button" class="l_btn l_grn fileupload"  value="自定义图片"> -->
				        <em class="y_lh">请选择jpg、gif格式，小于2M的图<br/>默认取标题和配图，可以定义显示标题和图片</em><input name="celebrity_pic" class="imgurl" value="{$data.celebrity_pic}" style="display: none;">
				    </h2>
				        <h2><input type="checkbox" class="checkbox" name="index_company" <php>if($data['company_time'])echo 'checked'</php>><b>首页名企</b>
				        <input type="text" name="company_title" placeholder="自定义推荐标题" class="inp" value="{$data.company_title}">
				        <img src="<empty name="data.company_pic">{$cdn_img_url}images/bImg02.png<else/>{$data.company_pic}</empty>" class="sin_preview fileupload"  alt="">
				        <!-- <input type="button" class="l_btn l_grn fileupload"  value="自定义图片"> -->
				        <em class="y_lh">请选择jpg、gif格式，小于2M的图<br/>默认取标题和配图，可以定义显示标题和图片</em><input name="company_pic" class="imgurl" value="{$data.company_pic}" style="display: none;"></h2>
				    </div>
				</div>
                <div class="b_card">
                    <span>类别：</span>
                    <div class="inpBox">
                        <select class="w105" name="category">
                        	<option value="" <if condition="$data[0]['category'] eq '0'">selected</if>>请选择</option>
                            <option value="0" <if condition="$data['cateid'] eq '1'">selected</if>>人物</option>
                            <option value="1" <if condition="$data['cateid'] eq '2'">selected</if>>机构</option>
                        </select>
                    </div>
                </div>
                <div class="b_card clearfix">
                    <span>标签：</span>
                    <div class="inpBox label">
                    	<div class="clearfix b_form">
                    	<notempty name="data['tags']">
	               		<foreach name="data.tags" item="vo">
	               		<notempty name="vo">
	               		<em class="tag">{$vo}<i></i><a class="l_btn b_del">删除</a></em>
	               		</notempty>
	               		</foreach>
	               		</notempty>
                        <!-- <a name="tags" href="#" class="l_btn b_del">删除</a><em>保利国际地产<i></i></em><em>南海子公园<i></i></em> -->
                        <input type="text" placeholder="输入标签" class="inp w190" plugin="plugSuggest"  param="{&quot;api&quot;:&quot;/Wiki/suggest&quot;,&quot;data&quot;:{},&quot;name&quot;:&quot;word&quot;}">
                        <input type="button" class="l_btn l_red" id="gettag" value="添加">
                        </div>
                    </div>
                    <textarea name="tags" id="label_list" style="display: none;"></textarea>
	                    <div class="b_popBox" style="display: none;">
		
						</div>
                </div>
                <div class="b_card clearfix mb20">
                    <span>相关资讯：</span>
                    <div class="inpBox07">
                        <div class="clearfix b_form">
                            <input type="text" class="inp w293" placeholder="输入新闻ID">
                            <input type="button" id="getnew" class="l_btn l_red" value="添加">
                        </div>
                        <textarea name="news" id="b_list01" style="display: none;"></textarea>
                        <ul class="b_list01">
                            <notempty name="data[0]['news']">
                            <foreach name="data.0.news" item="vo">
                            <li class="cur clearfix">
                            	<input style="display:none" value="{$vo.id}">
								<em>{$vo.title}</em>
								<a href="javascript:void(0)" class="edit"></a>
								<i></i>
								<a target=_blank href="{$vo.url}" class="link"></a>
								<i></i>
								<a href="javascript:void(0)" class="del"></a>
							</li>
							</foreach>
                            </notempty>
                        </ul>
                    </div>
                </div>
                <div class="b_card clearfix">
                    <span>相关楼盘：</span>
                    <div class="inpBox07">
                        <div class="clearfix b_form">
                            <input type="text" class="inp w245" placeholder="输入楼盘ID  （CITYEN+HID组成）">
                            <input type="button" id="gethouse" class="l_btn l_red" value="添加">
                        </div>
                        <textarea name="house" id="b_list02" style="display: none;"></textarea>
                        <ul class="b_list02 clearfix">
                            <notempty name="data.0.house">
                            <foreach name="data.0.house" item="vo">
                            <li hid="{$vo.hid}" site="{$vo.site}">{$vo.name}
	                            <a target=_blank href="{$vo.url}" class="link-o"></a>
	                            <i></i>
	                            <a href="javascript:void(0)" class="del-o"></a>
                            </li>
                            </foreach>
                            </notempty>
                        </ul>
                    </div>
               </div>
        </div>
        <div class="b_btnBox clearfix">
            <a href="javascript:void(0)" class="l_btn l_grn pubBtn">发布</a>
        </div>
    </div>
    </form>
    <script type="text/javascript" src="http://cdn.leju.com/jQuery1.8.2;encyclopedia/js/base;encyclopedia/js/Pages/entry_editor.js?r"></script>
</div>