<div class="ty_content">
	<h3 class="d-title clearfix">
		<span>词条管理</span>
	</h3>
	<form id="searchForm" action="/Wiki/" method="get">
	<div class="ty_Ctop clearfix">
		<ul class="clearfix">
			<li><span>词条</span><input name="entry" class="w144" type="text" value="{$form.entry}"></li>
			<li>
				<span>来源</span>
				<select class="w102" name="from" id="">
					<option value="" selected>请选择</option>
					<option value="0" <if condition="$form.from eq '0'">selected</if>>原创</option>
					<option value="1" <if condition="$form.from eq '1'">selected</if>>收录</option>
				</select>
			</li>
			<li>
				<span>类别</span>
				<select class="w102" name="category" id="">
					<option value="" selected>请选择</option>
					<!-- <option value="0" <if condition="$form.category eq '0'">selected</if> >人物</option> -->
					<option value="1" <if condition="$form.category eq '1'">selected</if> >机构</option>
				</select>
			</li>
			<li><span>作者</span><input class="w100" name="creator" type="text" value="{$form.creator}"></li>
			<li>
				<span>发布时间</span><input class="w155" name="releasetime" id="searchdate" type="text" <if condition="$form.releasetime neq ''">value="{$form.releasetime|date='Y-m-d',###}" </if>><i class="ty_date"></i>
			</li>
			
			<li><span>发布状态</span>
				<select class="w102" name="state" id="">
					<option value="" selected>请选择</option>
					<foreach name="dicts.STATUS" item="item" key="id">
						<?php if ( strval($params['status']) === strval($id) ) { ?>
						<option value="{$id}" selected="selected">{$item.name}</option>
						<?php } else { ?>
						<option value="{$id}">{$item.name}</option>
						<?php } ?>
					</foreach>
				</select>
			</li>
			<li ><span>热度排序</span>
				<select class="w102" name="sort" id="">
					<option value="" selected>请选择</option>
					<option value="hits:0" <if condition="$form.sort eq 'hits:0'">selected</if> >最少</option>
					<option value="hits:1" <if condition="$form.sort eq 'hits:1'">selected</if> >最多</option>
				</select>
			</li>
			<li class="fr"><a href="javascript:void(0)" class="l_btn l_red">查询</a></li>
		</ul>
	</div>
	<div class="ty_list">
		<notempty name="list">
		<a class="ty_new" href="/Wiki/Add"><i class="ty_add"></i>新建</a>
		<table class="d-table">
			<thead>
				<th>词条</th>
				<th>热度</th>
				<th>作者</th>
				<th>发布时间</th>
				<th>来源</th>
				<th>状态</th>
				<th>操作</th>
			</thead>
			<tbody>
				<foreach name="list" item="vo" key="k" >
				<tr>
					<td><span>{$vo.entry}<if condition="$vo[recommend][0] OR $vo[recommend][1] OR $vo[recommend][2]"><em>荐</em></if><if condition="($vo.releasetime - $nowtime) GT 0"><em class="time"><i class="ty_time"></i></em></if></span></td>
					<td><span>{$vo.hits}</span></td>
					<td><span>{$vo.creator}</span></td>
					<td><span><?php
						$time_flag = '';
						$time = '';
						switch ( intval($vo['state']) ) {
							case 2:
								$time_flag = '[定时]';
								$time = date('Y-m-d H:i:s', $vo['releasetime']);
								break;
							case 0:
								$time_flag = '';
								$time = '';
								break;
							case 1:
								$time_flag = '[草稿]';
								$time = date('Y-m-d H:i:s', $vo['updatetime']);
								break;
							case 3:
								$time_flag = '[已发布]';
								$time = date('Y-m-d H:i:s', $vo['updatetime']);
								break;
							case 4:
								$time_flag = '[删除]';
								$time = date('Y-m-d H:i:s', $vo['updatetime']);
								break;
						}
						echo $time_flag, ' ', $time;
					?></span>
					</td>
					<td><span><if condition="$vo.from eq '0'"><a class="link" href="javascript:void(0)">原创</a></if>
					<if condition="$vo.from eq '1'"><a class="link" target=_blank href="{$vo.fromurl}">收录<i class="ty_link"></i></a></if></span></td>
					<td><span><?php
						$state = isset($vo['state']) ? $vo['state'] : '0' ;
						echo $dicts['STATUS'][$state]['name'];
					?></span></td>
					<td>
						<p class="last">
						<a class="a1" <if condition="$vo.id neq ''">href="/Wiki/edit?id={$vo.id}"<else/>href="/Wiki/edit?id={$vo.checkid}"</if>>x修改x</a>
						<a class="a1" <if condition="$vo.checkid neq ''">href="/Wiki/edit?id={$vo.checkid}"<else/>href="/Wiki/edit?id={$vo.id}"</if>>修改</a>
						<a class="a2" <if condition="$vo.id neq ''">did="{$vo.id}"<else/>did="{$vo.checkid}"</if> href="javascript:void(0)">删除</a>
						</p>
					</td>
				</tr>
				</foreach>
				
			</tbody>
		</table>
		<notempty name="pager">
			<include file="Public:pager" />
		</notempty>
		</notempty>
		<empty name="list">
		<!-- 无结果 -->
		<div class="ty_Nores">
			您选择“条件搜索”后，<span>暂无数据</span>！
		</div>
		<!-- 无结果end -->
		</empty>
	</div>
	</form>
	<script type="text/javascript" src="http://cdn.leju.com/jQuery1.8.2;encyclopedia/js/base;encyclopedia/js/Pages/entry_manage.js?r"></script>
</div>

