%ll_icon { background-image: url(../i/ll_icon.png); background-repeat: no-repeat; background-size: 150px 75px;}
%b_loading { background: url(../i/loading.png) no-repeat; background-size: 100% 100%;}
%b_top { background: url(../i/b_top.png) no-repeat; background-size: 100% 100%;}
%bSprite { background: url(../i/bSprite.png) no-repeat; background-size: rem(100) rem(100);}

%l_icon { background: url(../i/l_icon.png); background-size: rem(300) auto;}
%zIcon{background: url(../i/zIcon.png) no-repeat 0 0;background-size: rem(60) rem(200);}
%zIcon2{background: url(../i/zIcon.png) no-repeat 0 0;background-size: 30px 100px;}
%y_icon { background: url(../i/y_icon.png); background-size: rem(500) auto;}
%y_icon { background: url(../i/y_icon.png); background-size: rem(500) auto;}
