<eq name="index_flag" value="0">
<header class="ll_header">
	<a class="ll_logo ll_i" href="http://m.leju.com/index_{$city['code']}.html"></a>
	<h2 class="ll_header_h2"><a href="<?php echo url('index', array('city'=>$city['code']), 'touch', 'baike'); ?>"><img src="//{$Think.server.PS_URL}/images/d_logo.png"></a></h2>
	<div class="ll_headerR">
		<a class="ll_header_sch ll_i" href="#"></a>
	</div>
</header>
<else/>
<header class="ll_header">
	<a class="ll_header_bk" href="#"></a>
	<if condition="($Think.const.CONTROLLER_NAME eq 'Show') AND ($Think.const.ACTION_NAME eq 'index') AND $show_title_nav">
		<a class="z_header_link" href="#"></a>
	</if>
	<h2 class="ll_header_h2"><a href="<?php echo url('index', array('city'=>$city['code']), 'touch', 'baike'); ?>"><img src="//{$Think.server.PS_URL}/images/d_logo.png"></a></h2>
	<div class="ll_headerR">
		<a class="ll_header_sch ll_i" href="#"></a>
	</div>
</header>
</eq>
