<eq name="isapp" value="notapp">
<div class="header">
	<div class="h-t-warp">
		<i class="i-h-back"></i>
		<i class="i-h-title"></i>
		<i class="i-h-t-search"></i>
	</div>
	<div class="h-s-warp hide">
		<!--form id="search_form1" action="/search.html" method="get"-->
		<div class="h-s-i-warp">
			<i class="i-h-i-search"></i>
			<input type="text" class="h-s-input" name="k" placeholder="房产知识、专业术语、问题解疑一站解决" value="{$keyword}">
			<a href="javascript:;" class="h-s-clear"><i class="i-h-clear"></i></a>
		</div>
		<!--/form-->
		<a href="javascript:;" class="h-s-cancle">取消</a>
	</div>
</div>
</eq>