<div class="y_overlay share_layer none">
	<a class="y_off" ></a>
	<img class="y_stit" src="//{$Think.server.PS_URL}/images/y_share.png" height="26" width="519" alt="">
	<p class="y_sp1 mr64">您可以通过浏览器的分享按钮，将这篇经验分享到朋友圈</p>
	<p class="y_sp1 mr20">您也可以复制一下链接，打开朋友圈后进行分享</p>
	<p class="y_sp1 co01">https://www.zhihu.com/question/31140769</p>
	<ul class="y_share">
		<li>
			<a class="weibo" target="_blank">
				<i class="y_ic01"></i>
				<p>新浪微博</p>
			</a>
		</li>
		<li>
			<a class="qzone" target="_blank">
				<i class="y_ic02"></i>
				<p>QQ空间</p>
			</a>
		</li>
	</ul>
</div>