<div class="d-pages clearfix">
	<em>共 {$pager.total} 条</em>
	<!--
	<em>当前第 {$pager.page} 页</em>
	<em>每页 {$pager.pagesize} 条</em>
	-->
	<div class="d-pagebox">
		<notempty name="pager.first">
			<a class="d-pageBtn-2" href="{$pager.first}">首页</a>
		</notempty>
		<notempty name="pager.prev">
			<a class="d-pageBtn" href="{$pager.prev}">上一页</a>
		</notempty>
		<eq name="pager.sp_before" value="true">
			<a class="disabled">{$pager.spline}</a>
		</eq>
		<foreach name="pager.list" item="vo" key="k" >
			<eq name="pager.page" value="$vo.num">
			<span>{$vo.num}</span>
			<else/>
			<a href="{$vo.url}">{$vo.num}</a>
			</eq>
		</foreach>
		<eq name="pager.sp_after" value="true">
			<a class="disabled">{$pager.spline}</a>
		</eq>
		<notempty name="pager.next">
			<a class="d-pageBtn" href="{$pager.next}">下一页</a>
		</notempty>
		<notempty name="pager.last">
			<a class="d-pageBtn-2" href="{$pager.last}">末页</a>
		</notempty>
		<!--
		到第<input class="d-inp" type="text" name="page" value="{$pager.page}">页
		<a href="javascript:;" class="d-submit">确定</a>
		-->
	</div>
</div>
