<?php foreach ( $hot_answers['list'] as $qi => $q ) { ?>
	<li>
		<h3><a href="{$q.url}">{$q.title}</a></h3>
		<p>{$q.desc}</p>
		<div class="clearfix">
			<div class="lab_box">
			<?php foreach ( $q['tagsinfo'] as $ti => $tag ) { ?>
			<a href="{$tag.url}">{$tag.name}</a>
			<?php } ?>
			</div>
			<div class="info_box">
				<?php if ( $item['status']!=21 ) { ?>
				<span class="name">{$q.last_answer.usernick}</span>
				<span>回答了问题</span>
				<span class="line">|</span>
				<?php } ?>
				<span>{$q.ctime|formatQATimer}</span>
				<?php
				$dom_node = 0;
				$status = intval($q['status']);
				switch( $q['status'] ) {
					case 22: // 已回答
						$dom_node = '<span class="state2"><i></i>待采纳</span>';
						break;
					case 23: // 已采纳
						$dom_node = '<span class="state1"><i></i>已解决</span>';
						break;
					case 21: // 待解决
					default: // 默认 待解决
						$dom_node = '<a class="help" href="'.url('show', array($item['id']), 'pc', 'ask').'"><i></i>帮帮他</a>';
						break;
				}
				echo $dom_node;
				?>
			</div>
		</div>
	</li>
<?php } ?>
