<include file="Public:search" />

<link rel="stylesheet" href="//cdn.leju.com/encypc/js/swiper/swiper-3.4.2.min.css">
<script type="text/javascript" src="//cdn.leju.com/encypc/js/swiper/swiper-3.4.2.jquery.min.js"></script>

<div class="z_ask_con clearfix">
	<div class="z_ask_side">
		<!-- category tree start -->
		<div class="z_category">
		<include file="Public:catetree" />
		</div>
		<!-- category tree end -->

		<div class="z_side_list">
			<h3 class="z_side_hd">待你解决<i></i></h3>
			<ul>
			<?php foreach ( $need_answer as $i => $question ) { $inx = $i+1; ?>
				<li><a href="<?php echo url('show', array($question['id']), 'pc', 'ask'); ?>#wt_source=pc_qa_ddbz">{$question.title}</a></li>
			<?php } ?>
			</ul>
		</div>
	</div>

	<div class="z_ask_main">
		<div class="z_scroll">
			<div class="swiper-container">
		        <div class="swiper-wrapper">
					<?php foreach ( $focus as $i => $item ) { ?>
					<div class="swiper-slide"><a href="<?php echo url('show', array($item['id']), 'pc', 'ask'); ?>#wt_source=pc_qa_pic"><img src="{$item.pic|changeImageSize=###, 296, 166}" alt=""><i class="mask"></i><span><em>{$item.title}</em></span></a></div>
					<?php } ?>
		        </div>
		        <!-- Add Pagination -->
		        <div class="swiper-pagination"></div>
		        <div class="swiper-button-next"></div>
		        <div class="swiper-button-prev"></div>
		    </div>
		</div>
		<div class="z_hot_topic">
			<h3 class="z_main_hd">热门话题<i></i></h3>
			<div class="list">
				<ul class="clearfix">
				<?php foreach ( $agg_tags['list'] as $i => $info ) { if ( $i>=6 ) break; ?>
					<li data-n="{$i}">
						<div class="hd clearfix"><h4><a href="<?php echo url('agg', array($info['id']), 'pc', 'ask'); ?>#wt_source=pc_qa_rmht" title="{$info.name}">{$info.name}</a></h4><a href="<?php echo url('agg', array($info['id']), 'pc', 'ask'); ?>#wt_source=pc_qa_rmht" class="more">{$info.c_questions}个问题</a></div>
						<div class="links">
						<?php foreach ( $info['list'] as $ii => $q ) { ?> 
							<a href="<?php echo url('show', array($q['id']), 'pc', 'ask'); ?>">{$q.title}</a>
						<?php } ?>
						</div>
					</li>
				<?php } ?>
				</ul>
			</div>
		</div>
		<div class="z_expert">
			<h3 class="z_main_hd">专家顾问<i></i></h3>
			<ul class="card clearfix">
			<?php foreach ( $professors as $id => $pro ) { ?>
				<li><img src="{$pro.index}" alt="专家 {$pro.usernick}" width="296"><a href="/ask/?pro={$id}" class="z_ask_btn" title="向Ta提问">向Ta提问</a></li>
			<?php } ?>
			</ul>
		</div>
		<?php if ( $hot_answers ) { ?>
		<div class="z_care_list">
			<h3 class="z_main_hd">大家都关心<i></i></h3>
			<ul class="sAsk_list01 z_list01">
				<include file="answers.hot" />
			</ul>
			<?php if ( $hot_answers['pager']['is_last']==0 ) { ?>
			<a class="sLoading" href="javascript:;" data-api="{$hot_answers.pager.next_api_url}" data-current="1" data-islast="{$hot_answers.pager.is_last}">
				<img src="//cdn.leju.com/qapc/images/HLloading.gif">加载更多
			</a>
			<?php } ?>
		</div>
		<?php } // end hot answers ?>
	</div>
</div>
