<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>{$pageinfo.title}</title>
	<link rel="stylesheet" href="//cdn.leju.com/encyclopedia/styles/stylesqa.css">
	<link rel="stylesheet" href="//{$Think.server.PS_ADMIN}/styles/styles.css">
</head>
<body>
	<div class="y_wrap">
		<include file="Public:header" />
		<?php
			$addon_class = '';
			$ctl = strtolower(CONTROLLER_NAME);
			$act = strtolower(ACTION_NAME);
			if ( in_array($ctl, array('knowledge','wiki')) ) {
				if ( in_array($act, array('edit', 'add')) ) {
					$addon_class = ' y_bg01';
				}
			}
		?>
		<div class="y_main<?php echo $addon_class; ?> clearfix">
			<include file="Public:nav.menu" />
			<div class="y_right">
				{__CONTENT__}
			</div>
		</div>
	</div>
</body>
</html>