<include file="Public:search" />
<div class="sWrap">
	<div class="sCrumbs">
		<a href="/">问答首页</a><span>\</span><a class="cur">{$keyword}</a>
	</div>
	<div class="clearfix">
		<div class="sLbox">
			<div class="sTit">
				{$keyword}
				<div class="fr sort">
					<a href="javascript:;" data-order="zdfw">按浏览量</a>
					<u>|</u>
					<a href="javascript:;" data-order="zdhf">按回答数</a>
				</div>
				<span></span>
			</div>

			<ul class="sAsk_list01">
				<include file="Public:list" />
			</ul>
			<include file="Public:pager" />

			<include file="Public:relations" />
		</div>
		<div class="sRbox">
			<!-- category tree start -->
			<div class="z_category">
			<h3 class="z_side_hd mb30">问题分类<i></i></h3>
			<include file="Public:catetree" />
			</div>
			<!-- category tree end -->

			<!-- 猜你喜欢 -->
			<include file="Public:guessyoulike" />
		</div>
	</div>
</div>
