@charset "UTF-8";

.l_btn { float: left; display: block; background: #808b92; color: #fff; padding: 0 20px; height: 34px; line-height: 34px; font-size: 14px; border-radius: 2px; border: 0; cursor: pointer; font-family: "Arial","\5FAE\8F6F\96C5\9ED1","\5b8b\4f53", sans-serif;
	&:hover { background: #6d767b; color: #fff;}

	&.l_gry { background: #808b92;
		&:hover { background: #6d767b;}
	}
	&.l_grn { background: #39b54a;
		&:hover { background: #33a242;}
	}
	&.l_red { background: #ff392a;
		&:hover { background: #e53427;}
	}
}

.l_list { display: block; width: 100%; min-width: 1012px;
	dt { margin: 20px 0 0 0; height: 50px; line-height: 50px; border: 1px solid #e5e5e5; background: #f8f8f8; text-align: center; min-width: 480px;
		b { font-size: 14px; color: #333; font-weight: normal; text-align: center;
			&.l_01 { float: left; display: block; width: 410px; text-align: left; text-indent: 40px;}
			&.l_02 { display: inline-block; width: 150px;}
			&.l_03 { float: right; display: block; width: 180px;}
		}
	}
	dd { margin: 20px 0 0 0; border: 1px solid #e5e5e5; border-radius: 1px;
		&.l_show { border: 1px solid #f91825;
			.l_main01 .l_zk { background-position: -34px 0;}
			.l_ul { display: block;}
		}
	}
	.l_main { height: 45px; line-height: 45px; text-align: center;
		&.l_main01 { border-bottom: 1px solid #e5e5e5; background: #f7f7f7; margin-bottom: -1px;
			.l_01 a { padding-left: 36px;}
		}

		.l_01 { float: left; width: 410px; text-align: left; vertical-align: top;
			a { display: block; color: #9eb9ce;}
		}
		.l_02 { display: inline-block; width: 150px; text-align: center; }
		.l_03 { float: right; display: block; width: 180px; text-align: center;}

		.l_zk,.l_dis,.l_edit,.l_up,.l_add { @extend %l_icon; display: inline-block; width: 15px; height: 15px; vertical-align: top; margin: 14px 14px 0 14px;}
		.l_zk { background-position: -51px 0; margin: -2px 20px 0 0; vertical-align: middle;}
		.l_dis { width: 20px; height: 18px; background-position: -34px -34px; margin: 14px 0 0 0;
			&:hover { background-position: -56px -34px;}
		}
		.l_edit { background-position: 0 0;
			&:hover { background-position: -17px 0;}
		}
		.l_up { background-position: 0 -17px;
			&:hover { background-position: -17px -17px;}
		}
		.l_add { background-position: 0 -34px;
			&:hover { background-position: -17px -34px;}
		}

		&.l_cur {
			.l_01 a { color: #000;}
			.l_dis { background-position: -56px -34px;}
		}
	}
	.l_ul { font-size: 14px; display: none;
		.l_zk { background-position: -34px -17px;}
		.l_main {
			.l_01 a { padding-left: 60px;}
		}
		.l_ul_ul { display: none;
			.l_main {
				.l_01 a { padding-left: 90px;}
			}
		}
		li.l_show {
			.l_ul_ul { display: block;}
			.l_zk { background-position: -51px -17px;}
		}
	}
}

.l_alert { position: fixed; left: 50%; top: 50%; width: 388px; height: 218px; margin: -110px 0 0 -195px; background: #fff; border: 1px solid #e5e5e5; -webkit-box-shadow: 5px 5px 12px 0 rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px 12px 0 rgba(0, 0, 0, 0.1); box-shadow: 5px 5px 12px 0 rgba(0, 0, 0, 0.1);
	.l_closeBtn { position: absolute; right: 16px; top: 16px; @extend %l_icon; background-position: 0 -52px; display: block; width: 15px; height: 15px; font-size: 0; text-indent: 999px; overflow: hidden;}
	h3 { height: 49px; padding: 0 20px; line-height: 48px; background: #3f3f4e; color: #fff; border-bottom: 1px solid #e5e5e5; font-size: 16px;}
	.l_main { padding: 42px 0 0;
		span { float: left; display: block; width: 110px; text-align: right; height: 35px; line-height: 35px; padding-right: 10px;}
		input { float: left; width: 180px; height: 35px; line-height: 33px; border: 1px solid #d6d6d6; border-radius: 2px; padding: 0 10px;}
		em { float: left; display: block; height: 20px; padding: 15px 0 0 10px; line-height: 1; overflow: hidden; font-size: 18px; color: #ff0f0f;}
	}
	.l_bar { text-align: center; padding-top: 28px;
		.l_btn { float: none; display: inline-block;}
	}
}