<link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
<div class="ty_content">
	<h3 class="d-title clearfix">
		<span>审计日志查看</span>
	</h3>
	<form id="searchForm" action="/Logs" method="get">
	<div class="ty_Ctop clearfix">
		<ul class="clearfix">
			<li>
				<span>操作类型</span>
				<select class="w102" name="act">
					<option value="" selected>请选择</option>
					<foreach name="acts" item="c" key="k">
						<if condition="$k eq $params.act">
							<option value="{$k}" selected>{$c.NAME}</option>
						<else/>
							<option value="{$k}">{$c.NAME}</option>
						</if>
					</foreach>
				</select>
			</li>
			<li>
				<span>操作者</span>
				<input placeholder="操作者" name="admin" value="{$params.admin}" class="w110" type="text" data-admin="{$params.adminid}"></li>
			</li>
			<li class="ty_nearby">
				<span>操作时间</span><input class="w114" type="text" placeholder="操作日期" name='ltime' value="{$params.ltime}"><i class="ty_date"></i>
			</li>
			<li class="fr"><a href="#" class="l_btn l_red">查询</a></li>
		</ul>
	</div>

	<div class="ty_list">
		<notempty name="logs">
		<table class="d-table">
			<thead>
				<th>日志编号</th>
				<th>操作者</th>
				<th>操作类型</th>
				<th>操作描述</th>
			</thead>
			<tbody>
				<foreach name="logs" item="v">
					<tr date-user="{$v.id}">
						<td><span>{$v.id}</span></td>
						<td><span>{$v.actor}</span></td>
						<td><span>{$v.actname}</span></td>
						<td>{$v.msg}</td>
					</tr>
				</foreach>
			</tbody>
		</table>
		</notempty>

		<notempty name="pager">
			<include file="Public:pager" />
		</notempty>

		<!-- 无结果 -->
		<empty name="logs">
			<div class="ty_Nores">
				您选择“条件搜索”后，<span>暂无数据</span>！
			</div>
		</empty>
		<!-- 无结果end -->
	</div>
	</form>
</div>
<script type="text/javascript" src="http://cdn.leju.com/jQuery1.8.2;encyclopedia/js/base;encyclopedia/js/Pages/user_manage.js?r"></script>
<script src="http://cdn.leju.com/encyclopedia/js/Controls/jqueryui/jquery-ui.js"></script>
