<include file="Public:search" />

<div class="section">
	<div class="s-header"><p>“<span class="c-red">{$taginfo.name}</span>”标签</p></div>
	<input type="hidden" id="id" value="{$taginfo.id}" />
	<div class="s-content">
		<ul class="s-c-article scroll_tag">
		<?php foreach ( $list as $i => $item ) { ?>
			<li>
				<a href="<?php echo url('show', array($item['id']), 'touch', 'ask'); ?>">
					<p>{$item.title}</p>
				</a>
				<ul class="s-c-column">
				<?php
				if ( $item['catenamepath'] ) {
					foreach ( $item['catenamepath'] as $cateid => $catename ) { 
				?>
					<li><a href="<?php echo url('list', array($cateid), 'touch', 'ask'); ?>">{$catename}</a></li>
				<?php
					} // end foreach
				} // end if
				else {
					// <li><a href="#">无栏目</a></li>
				?>
				<?php
				}
				?>
				</ul>
				<?php if ( $item['tagsinfo'] ) { ?>
				<div class="s-c-l-wrap">
					<i class="i-s-label"></i>
					<ul class="s-c-label">
					<?php foreach ( $item['tagsinfo'] as $i => $tag ) { ?>
						<li><a href="<?php echo url('agg', array($tag['id']), 'touch', 'ask'); ?>">{$tag.name}</a></li>
					<?php } ?>
					</ul>
				</div>
				<?php } ?>
			</li>
		<?php } ?>
		</ul>
	</div>
</div>
<include file="Public:ask.button" />
<?php if ( $pager['hasnext']==1 ) { ?>
<div class="loading">
	<i class="i-l-loading"></i>
	<p>加载更多</p>
</div>
<?php } ?>