@charset "UTF-8";
// rem styles

@mixin bg-gradient($bgtop, $bgbottom){
	background-image: -webkit-gradient(linear, 0 0,0 100%, from($bgtop), to($bgbottom));
	background-image: -webkit-linear-gradient(top, $bgtop, $bgbottom);
	background-image: linear-gradient(to bottom, $bgtop, $bgbottom);
}

.l_body { background: #f0f0f0;}
.l_focus { width: rem(750); height: rem(340); overflow: hidden; position: relative; margin-bottom: 2px; -webkit-box-shadow: 0 1px 0 #e0e0e0, 0 2px 0 #f2f2f2; box-shadow: 0 1px 0 #e0e0e0, 0 2px 0 #f2f2f2;}
.l_focus_ul { font-size: 0;
	li { display: inline-block; width: rem(750); height: rem(340); position: relative;
		&:after { content: ''; position: absolute; left: 0; right: 0; bottom: 0; display: block; width: 100%; height: rem(150); opacity: 0.6; @include bg-gradient(rgba(0,0,0,0), rgba(0,0,0,.8)); z-index: 1;}
	}
	a { position: relative; z-index: 0;}
	img { display: block; width: 100%; height: 100%;}
	p { position: absolute; left: rem(30); right: rem(120); bottom: rem(25); height: rem(48); line-height: rem(48); overflow: hidden; color: #fff; font-size: rem(36); z-index: 10; word-break: break-all;}
}
.l_focus_dot { position: absolute; right: rem(30); bottom: rem(36); font-size: 0; z-index: 10;
	a { display: inline-block; width: rem(12); height: rem(12); border-radius: 50%; background: #868686; margin-left: rem(8);
		&.l_cur { background: #dcdcdc;}
	}
}

.l_box { background: #fff; border-bottom: 1px solid #e0e0e0; margin-bottom: rem(18);}

.l_navBox { padding: 0 rem(10); position: relative;
	&:after { content: ''; position: absolute; left: rem(30); right: rem(30); bottom: 0; height: 1px; background: #e0e0e0;}
}
.l_nav { font-size: 0;
	li { display: inline-block; width: 25%; text-align: center;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 1px;}
	a { display: block; padding: rem(115) 0 rem(35) 0; position: relative;
		i { position: absolute; left: 50%; top: rem(45); margin: 0 0 0 rem(-34); display: block; width: rem(68); height: rem(68); @extend %l_icon;
			&.l_01 { background-position: 0 0;}
			&.l_02 { background-position: rem(-72) 0;}
			&.l_03 { background-position: rem(-144) 0;}
			&.l_04 { background-position: rem(-216) 0;}
		}
		b { display: inline-block; position: relative; height: rem(42); line-height: rem(42); font-size: rem(24); color: #333; word-break: break-all; overflow: hidden; font-weight: normal;}
	}
	.l_cur {
		b:after { content: ''; position: absolute; bottom: 0; left: 0; right: 0; width: 100%; height: rem(2); background: #444;}
		i.l_01 { background-position: 0 rem(-72);}
		i.l_02 { background-position: rem(-72) rem(-72);}
		i.l_03 { background-position: rem(-144) rem(-72);}
		i.l_04 { background-position: rem(-216) rem(-72);}
	}
}

.l_cardBox {
	.b_cardBox .b_card:last-of-type { border: 0;}
}
.l_cardMore { display: block; height: rem(85); line-height: rem(85); text-align: center; border-top: 1px solid #e0e0e0; background: #fcfcfc; font-size: rem(28); color: #333;}

.l_list01 { padding: 0 rem(30); overflow: hidden;
	ul { font-size: 0; margin-bottom: -1px;}
	li { display: inline-block; width: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-bottom: 1px solid #e0e0e0; position: relative;
		&:nth-of-type(2n+1) { border-right: 1px solid #e0e0e0;}
		a { display: block; height: rem(90); line-height: rem(90); padding: 0 rem(10) 0 rem(50); font-size: rem(32); color: #333; word-break: break-all; overflow: hidden;}

		&:before { position: absolute; left: rem(12); top: rem(30); display: block; width: rem(25); height: rem(30); @extend %l_icon;}
		&.l_up:before { content: ''; background-position: 0 rem(-144);}
		&.l_dn:before { content: ''; background-position: rem(-29) rem(-144);}
	}
}

.l_list02 {
	ul { padding: 0 rem(30);}
	li { border-bottom: 1px solid #e0e0e0; padding: rem(30) 0;
		&:last-of-type { border-bottom: 0;}
	}
	h3 { font-size: rem(32); line-height: rem(48); color: #333;}
	.l_tips { padding-bottom: rem(38);
		span { padding: 0 rem(9) 0 rem(6); background-color: #f5fbff; font-size: rem(20); line-height: rem(32); color: #3bb8de; margin-right: rem(10);}
	}
	.l_infoBox { line-height: rem(34); font-size: rem(22); color: #999;
		figure { display: block; width: rem(32); height: rem(32); border-radius: 50%; overflow: hidden;
			img { display: block; width: 100%; height: 100%;}
		}
		span { display: inline-block; height: rem(34); padding: 0 rem(10);}
	}
}

.l_footer { margin: rem(20) 0; padding: 0 rem(30); text-align: center; font-size: rem(20); color: #afafaf; line-height: rem(36); }

