<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">
	<meta name="format-detection" content="telephone=no" />
	<title>{$pageinfo.title}</title>
	<meta name="applicable-device" content="mobile">
	<meta name="title" content="{$pageinfo.seo_title}"/>
	<meta name="keywords" content="{$pageinfo.keywords}"/>
	<meta name="description" content="{$pageinfo.description}" />
	<link rel="canonical" href="{$pageinfo.alt_url}">
	<link rel="stylesheet" href="//res.bch.leju.com/resources/encypc/mobile/v1/styles/styles.css">
	<link rel="stylesheet" href="//res.bch.leju.com/resources/encypc/mobile/v1/styles/swiper.css">
</head>
<?php
	$album_title = trim($detail['album']['title']);
	if ( $album_title == '' ) {
		$album_title = $detail['title'].'的相册';
	}
	$total = count($detail['album']['list']);
	$current = 1;
	$position = '';
	if ( $detail['basic']['position'] ) { $position = '（'.$detail['basic']['position'].'）'; }
?>
<body class="g_bg">
	<h3 class="g_lbtitle">{$album_title}<a href="/tag/word-{$detail.id}.html" class="g_arrow0"></a></h3>
	<div class="g_lbwrap">
		<div class="swiper-container" style="height:100%">
			<div class="swiper-wrapper">
			<?php
			foreach ( $detail['album']['list'] as $i => $img ) {
				// $class = $i==0 ? ' class="l_cur"' : '';
				$index = $i + 1;
			?>
				<div class="swiper-slide"><a href="javascript:;"><img src="{$img.img}" alt=""></a></div>
			<?php } ?>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
<script type="text/javascript" src="//res.leju.com/scripts/libs/jquery/v1/jquery.js"></script>
<script type="text/javascript" src="//res.bch.leju.com/scripts/app/encypc/v1/m_detail.js"></script>
<script type="text/javascript">
var city = 'quanguo';
var level1_page = '{$stats.level1}';
var level2_page = '{$stats.level2}';
var custom_id = '{$stats.custom_id}';
var news_source='{$stats.news_source}';
</script>
<script type="text/javascript" src="http://cdn.leju.com/lejuTj/gather.source.js"></script>
</body>
</html>