<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
	<title>{$pageinfo.seo_title}</title>
	<meta name="applicable-device" content="pc">
	<meta name="keywords" content="{$pageinfo.keywords}"/>
	<meta name="description" content="{$pageinfo.description}" />
	<link rel="canonical" href="{$pageinfo.alt_url}">
	<link rel="stylesheet" href="//cdn.leju.com/qawap/styles/styles.css">
	<script type="text/javascript">
	fnResize();
	var k = null;
	window.addEventListener("resize", function() {
		clearTimeout(k);
		k = setTimeout(fnResize, 300);
	}, false);
	function fnResize() {
		document.getElementsByTagName('html')[0].style.fontSize = (document.documentElement.clientWidth) / 15 + 'px';
	}
	</script>
</head>

<body>
	<include file="Public:header" />
	{__CONTENT__}
	<include file="Public:footer" />

<script src="//cdn.leju.com/qawap/js/qawap.js?r"></script>
<script src="//cdn.leju.com/sso/sso.js"></script>
<script type="text/javascript">
	var city = 'quanguo';
	var level1_page = '{$statscode.level1_page}';
	var level2_page = '{$statscode.level2_page}';
	var custom_id = '{$statscode.custom_id}';
	var news_source='{$statscode.news_source}';
</script>
<script>
(function(){
	var bp = document.createElement('script');
	var curProtocol = window.location.protocol.split(':')[0];
	if (curProtocol === 'https'){
		bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
	} else {
		bp.src = 'http://push.zhanzhang.baidu.com/push.js';
	}
	var s = document.getElementsByTagName("script")[0];
	s.parentNode.insertBefore(bp, s);
})();
</script>
<script type="text/javascript" src="http://cdn.leju.com/lejuTj/gather.source.js"></script>
</body>
</html>
