{$common_tpl.footer}
<script type="text/javascript" src="http://cdn.leju.com/encypc/js/fullPage/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="http://cdn.leju.com/encypc/js/encypc.js?r"></script>
<script type="text/javascript">
    var city = '{$city.code}';
    var level1_page = '{$level1_page}';
    var level2_page = '{$level2_page}';
    var custom_id = '{$custom_id}';
    var webtype='';
    var news_source='';
</script>
<script type="text/javascript" src="http://m.leju.com/resources/scripts/gather.pc.source.js"></script>