<div class="content_wrapper sort_page {$jsflag}">
	<div class="b_wrapper">
		<h2 class="b_title">{$binds.parent}</h2>
		<div class="b_cardBox">
			<notempty name="topKB">
			<div class="b_card clearfix">
				<div class="b_left">
					<a href="{$topKB.url}"><h2>{$topKB.title}</h2></a>
					<h3>
					<volist name="topKB.tagsinfo" id="t">
						<a href="<?php echo url('agg', array($t['id']), 'touch', 'baike');?>"><span>{$t.name}</span></a>
					</volist>
					</h3>
					<!--<h4>乐居互联网  05-12</h4>-->
				</div>
				<div class="b_right"><img src="{$topKB.cover|changeImageSize=###, 240, 180}" alt="{$topKB.title}"></div>
			</div>
			</notempty>
			<notempty name="list">
			<volist name="list" id="item">
			<div class="b_card clearfix">
				<div class="b_left">
					<h2><a href="{$item.url}">{$item.title}</a></h2>
					<h3>
						<volist name="item.tagsinfo" id="t">
						<a href="<?php echo url('agg', array($t['id']), 'touch', 'baike');?>"><span>{$t.name}</span></a>
						</volist>
					<h4>乐居互联网  {$item.ctime}</h4>
				</div>
				<div class="b_right"><img src="{$item.cover|changeImageSize=###, 240, 180}" alt=""></div>
			</div>
			</volist>
			<else />
				<div class="b_noCon">
					<i></i>
					<p>我考虑一下放什么内容好， 你先看看其他栏目内容。</p>
				</div>
			</notempty>
			<div class="b_loading none"></div>
		</div>
	</div>
	<a href="#" class="b_top"></a>
</div>