<!-- 乐居统一标准 页头 -->
{$common_tpl.header}
<!-- 导航条 -->
<div class="z_main_menu">
	<div class="inner clearfix">
		<div class="m_l">
			<h2 class="logo">
			<a href="<?php echo url('index', array(), 'pc', 'baike'); ?>" title="房产百科">房产百科</a>
			</h2>
			<div class="city">
			</div>
		</div>
		<div class="m_r">
			<ul class="menu">
				<volist name="cate_all" id="item" key="k">
					<li class="<eq name='item.id' value='$cateid'>cur</eq>">
						<a target="_blank" href="<?php echo url('index', array('cid'=>$item['id']), 'pc', 'baike');?>#wt_source=pc_fcbk_dh"><eq name="item.id" value='$cateid'><i class="line"></i></eq>{$item.name}</a>
						<div class="menu_ly_wrap">
							<volist name="item.son" id="lv2" key="kk">
								<eq name="kk" value="1">
									<div class="menu_ly clearfix none">
								</eq>
								<dl>
									<dt><a href="<?php echo url('cate', array('id'=>$lv2['id'], 'page'=>1), 'pc', 'baike');?>#wt_source=pc_fcbk_dh" title="{$lv2.name}" target="_blank">{$lv2.name}</a><i></i></dt>
									<volist name="lv2.son" id="lv3">
										<dd><a target="_blank" href="<?php echo url('cate', array('id'=>$lv3['id'], 'page'=>1), 'pc', 'baike');?>#wt_source=pc_fcbk_dh" title="{$lv3.name}">{$lv3.name}</a></dd>
									</volist>
								</dl>
								<if condition="$kk eq count($item.son)-1">
								</div>
								</if>
							</volist>
						</div>
					</li>
				</volist>
			</ul>

			<!-- 搜索框 -->
			<div class="z_search_wrap">
				<div class="z_search">
					<form id="search_form" action="<?php echo url('search', array(), 'pc', 'baike');?>#wt_source=pc_fcbk_ssan" method="get">
					<input type="text" name="keyword" value="" class="s_inp" placeholder="乐居房产百科-您身边的房产专家" autocomplete="off">
					<input type="hidden" name="city" value="{$city.code}">
					<input type="hidden" name="id" value="{$cateid}">
					<a href="#" class="s_btn" type="submit">搜&ensp;索</a>
					</form>
				</div>
				<!-- 浮层 -->
				<div class="z_search_ly none"></div>
			</div>
		</div>
	</div>
</div>