<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">
	<meta name="format-detection" content="telephone=no" />
	<title>{$pageinfo.title}-乐居百科</title>
	<meta name="applicable-device" content="mobile">
	<meta name="keywords" content="{$pageinfo.keywords}"/>
	<meta name="description" content="{$pageinfo.description}" />
	<link rel="canonical" href="{$pageinfo.alt_url}">
	<link rel="stylesheet" href="//{$Think.server.PS_URL}/prd/css/entry.css">
	<script> ;(function() {fnResize(); var k = null; window.addEventListener("resize",function(){clearTimeout(k);k = setTimeout(fnResize,300);},false); function fnResize(){document.getElementsByTagName('html')[0].style.fontSize = (document.documentElement.clientWidth) / 15 + 'px';}}());</script>
</head>
<body class="y_bg">
<notempty name='detail.pic'>
<div style='margin:0 auto;width:0px;height:0px;overflow:hidden;'><img src="{$detail.pic}" width='700'></div>
</notempty>
<eq name="isapp" value="notapp">
<include file="Public:header" />
</eq>

{__CONTENT__}

<include file="Public:footer" />
<script>
(function(){
	var bp = document.createElement('script');
	var curProtocol = window.location.protocol.split(':')[0];
	if (curProtocol === 'https') {
		bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
	}
	else {
		bp.src = 'http://push.zhanzhang.baidu.com/push.js';
	}
	var s = document.getElementsByTagName("script")[0];
	s.parentNode.insertBefore(bp, s);
})();
</script>
</body>
</html>