<div class="ty_content clearfix">
	<div class="ty_bread">
		{$bread}<i></i><a class="on">{$info.title}</a>
	</div>
	<div class="b_left">
		<h1 class="ty_tit2 b_tit"><i></i>{$info.title}</h1>
		<div class="ty_detial">
			<ul>
				<?php $j=$n=$i=0 ?>
				<foreach name="info.content" key="k" item="vo">
				<if condition="$vo[0] OR $vo[1]">
				<li>
					<if condition="$vo[0]">
					<i class="ty_sq">{++$i}</i>
					<h3><sectiontitle>{$vo.0}</sectiontitle></h3></if>
					<if condition="$vo[1]">{$vo.1|str_replace="sectiontitle2", "h4", ###}</if>

				</li>
				</if>
				</foreach>
			</ul>
		</div>
		<!-- 出现的123456点 原内容点visibility: hidden; -->
		<div class="ty_fixbtn">
			<foreach name="info.content" key="k" item="vo">
			<if condition="$vo[0]">
			<a style="display:none" href="javascript:;" title="返回第<?php echo $num_arr[++$n] ?>步" <if condition="$n eq 1">class="on"</if> >{++$j}</a>
			</if>
			</foreach>
		</div>
		<!-- 出现的123456点end -->
		<p class="ty_about">
			<foreach name="info.tagsinfo" item="vo">
			<a href="<?php echo url('agg', array('tag'=>$vo['id'], 'id'=>$cateid, 'page'=>1), 'pc', 'baike');?>">{$vo.name}</a>
			</foreach>
		</p>
		<notempty name="relakb">
		<div class="ty_aboutD">
			<h3>相关知识</h3>
			<div class="ty_aboutDpic">
				<ul>
				<volist name="relakb" id="re">
					<li>
						<a target="_blank" href="{$re.url}">
							<img src="{$re.cover}" alt="">
							<h4>{$re.title}</h4>
						</a>
					</li>
				</volist>
				</ul>
			</div>
		</div>
		</notempty>
	</div>
	<div class="b_right">
		<h2>百科导航<i></i></h2>
		<div class="ty_slid b_slid">
			<h3>{$nav.name}<i></i></h3>
			<p>
				<foreach name="nav.son" item="s">
					<a target="_blank" href="<?php echo url('cate', array('id'=>$s['id'], 'page'=>1), 'pc', 'baike');?>"><eq name="s.id" value="$curcateid"><strong style="color:#df1830;">{$s.name}</strong><else/>{$s.name}</eq></a>
				</foreach>
			</p>
		</div>
		<div class="hotbk">
			<notempty name="rank">
			<h2>热门百科知识<i></i></h2>
			<ul class="b_list">
				<volist name="rank" id="r">
					<lt name="i" value="11">
						<li><a target="_blank" href="{$r.url}"><em <lt name="i" value="4">class="i01"</lt>>{$i}</em>{$r.title}</a></li>
					</lt>
				</volist>
			</ul>
			</notempty>
			<notempty name="randoms">
			<h2>猜你喜欢<i></i></h2>
			<ul class="b_list">
				<volist name="randoms" id="r">
					<lt name="i" value="11">
						<li><a target="_blank" href="{$r.url}"><em>{$i}</em>{$r.title}</a></li>
					</lt>
				</volist>
			</ul>
			</notempty>
		</div>
	</div>
</div>
<include file="Public:cateonfoot" />

<script src="http://cdn.leju.com/stat_leju/js/Controls/stat.js"></script>
<script>
<?php
$title = htmlentities($info['title']);
$url = url('show', array($info['id']), 'pc', 'baike');
$sysucc = strtoupper( md5( md5($title.$url.'leju.com').'leju.com') );
$catepath = explode('-', trim($info['catepath']));
?>
var stat_data = {
	"default":{
		"rank":"1",
		"click":"1",
		"plat_key":"pc",
		"unique_id":"{$info.id}",
		"cate_id":"{$info.cateid}",
		"level1":"{$catepath[1]}",
		"level2":"{$catepath[2]}",
		"city_en":"{$city.en}",
		"title":"{$title}",
		"url":"{$url}",
		"sysucc":"{$sysucc}"
	},
	"app_key":"cdf8101c8230bfdaf62c9fff0224579d"
}
if (document.all){window.attachEvent('onload',function(){stat_xtx('default')})}//IE
 else{window.addEventListener('load',function(){stat_xtx('default')},false);} //FireFox
</script>

