%ll_icon { background-image: url(../images/ll_icon.png); background-repeat: no-repeat; background-size: 150px 75px;}
%b_loading { background: url(../images/loading.png) no-repeat; background-size: 100% 100%;}
%b_top { background: url(../images/b_top.png) no-repeat; background-size: 100% 100%;}
%bSprite { background: url(../images/bSprite.png) no-repeat; background-size: rem(100) rem(100);}

%l_icon { background: url("../images/l_icon.png"); background-size: rem(300) auto;}
%zIcon{background: url(../images/zIcon.png) no-repeat 0 0;background-size: rem(60) rem(200);}
%y_icon { background: url("../images/y_icon.png"); background-size: rem(500) auto;}
%y_icon { background: url("../images/y_icon.png"); background-size: rem(500) auto;}
