<div class="content_wrapper {$jsflag}">
	<div class="b_wrapper">
		<h2 class="b_title">“{$pageinfo.keyword}”的相关内容</h2>
		<div class="b_cardBox">
		<volist name="list" id="item">
			<div class="b_card clearfix">
				<div class="b_left">
					<h2><a href="{$item.url}">{$item.title}</a></h2>
					<h3>
					<volist name="item.tags" id="t">
					<a href="<?php echo url('agg', array($t, $city['code']), 'touch', 'baike');?>"><span>{$t}</span></a>
					</volist>
					<h4>乐居互联网  {$item.ctime}</h4>
				</div>
				<div class="b_right"><a href="{$item.url}"><img src="{$item.cover}" alt="{$item.title}"></a></div>
			</div>
		</volist>
			<div class="b_loading none"></div>
		</div>
	</div>
	<a href="#" class="b_top"></a>
</div>