 <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
 <div class="ty_content">
	<h3 class="d-title clearfix">
		<span>用户管理</span>
	</h3>
	<form id="searchForm" action="/Admin" method="get">
	<div class="ty_Ctop clearfix">
		<ul class="clearfix">
			<li>
				<span>城市</span>
				<select class="w102" name="city" id="">
					<option value="" selected>请选择</option>
					<foreach name="cities.ALL" item="c" key="k">
						<if condition="$k eq $city">
							<option value="{$k}" selected>{$c.cn}</option>
						<else/>
							<option value="{$k}">{$c.cn}</option>
						</if>
					</foreach>
				</select>
			</li>
			<li>
				<span>角色</span>
				<select class="w102" name="role_id">
					<option value="" selected>请选择</option>
					<foreach name="role" item="r">
						<if condition="$r.id eq $role_id">
							<option value="{$r.id}" selected>{$r.name}</option>
						<else/>
							<option value="{$r.id}">{$r.name}</option>
						</if>
					</foreach>
				</select>
			</li>
			<li><span>联系方式</span><input type="text" name='mail' value="{$mail}"></li>
			<li><span>姓名</span><input class="w110" type="text" name='truename' value="{$truename}"></li>
			<li class="ty_nearby">
				<span>最近登录</span><input class="w114" type="text" placeholder="起始时间" name='ltime_s'  value="{$ltime_s}"><i class="ty_date"></i>
			</li>
			<li><span>至</span></li>
			<li>
				<input class="w114" type="text" placeholder="起始时间" name='ltime_e'  value="{$ltime_e}"><i class="ty_date"></i>
			</li>
			<li class="fr"><a href="#" class="l_btn l_red">查询</a></li>
		</ul>
	</div>
	<div class="ty_list">
		<notempty name="users">
		<table class="d-table">
			<thead>
				<th>UID</th>
				<th>姓名</th>
				<th>联系方式</th>
				<th>城市</th>
				<th>城市权限</th>
				<th>角色</th>
				<th>创建时间</th>
				<th>最近登录</th>
				<th>状态</th>
				<th>操作</th>
			</thead>
			<tbody>
				<foreach name="users" item="v">
					<tr date-user="{$v.id}">
						<td><span>{$v.id}</span></td>
						<td><span>{$v.truename}</span></td>
						<td><span>{$v.em_email}</span></td>
						<td><span>{$v.city|default='-'}</span></td>
						<td><input type="text" cid="{$v.scope}" placeholder="输入城市名称"  class="ui-autocomplete-input tags" autocomplete="off" value="<?php echo $cities['ALL'][$v['scope']]['cn']; ?>"></td>
						<td>
							<div class="ty_selectIn">
								<div class="ty_selectsee">
									<span>{$v.role_cn|default='待分配'}</span><span><i class="ty_select2"></i></span>
								</div>
								<div class="ty_selectul none">
									<ul>
										<foreach name='role' item='r'>
											<li role='{$r.id}' user='{$v.id}'>{$r.name}</li>
										</foreach>
									</ul>
								</div>
							</div>
						</td>
						<td><span>{$v.create_time|date="Y-m-d H:i:s",###}</span></td>
						<td><span><gt name='v.login_time' value='0'>{$v.login_time|date="Y-m-d H:i:s",###}<else/>-</gt></span></td>
						<td><eq name="v.status" value="1"><span>正常</span><else/><span class="a5">已删除</span></eq></td>
						<td>
							<eq name="v.status" value="1">
								<p class="last"><a class="a2_3" href="javascript:;" user='{$v.id}'>删除</a></p>
							<else/>
								<p class="last"><a class="a2_2" href="javascript:;" user='{$v.id}'>恢复</a></p>
							</eq>
						</td>
					</tr>
				</foreach>
			</tbody>
		</table>
		</notempty>

		<notempty name="pager">
			<include file="Public:pager" />
		</notempty>

		<!-- 无结果 -->
		<empty name="users">
			<div class="ty_Nores">
				您选择“条件搜索”后，<span>暂无数据</span>！
			</div>
		</empty>
		<!-- 无结果end -->
	</div>
	</form>
</div>
<script type="text/javascript" src="http://cdn.leju.com/jQuery1.8.2;encyclopedia/js/base;encyclopedia/js/Pages/user_manage.js?r"></script>
<script src="http://cdn.leju.com/encyclopedia/js/Controls/jqueryui/jquery-ui.js"></script>
