<div class="wd_list clearfix">
	<div class="wd_con wd_ty_left_con">
		<div class="wd_con_header">
			<h2 class="ty_tit">
				<i></i>
				<span>猜你想知道</span>
			</h2>
			<div class="wd_ch_a">
				<a href="#wt_source=pc_qa_hyh" class="wd_change guess1">
					<i class="wd_chg_icon"></i>换一换
				</a>
			</div>
		</div>
		<div class="wd_slid_wrap">
		<?php
		if ( $hot_tags['status'] ) {
			if ( !isset($_from_source_flag) ) {
				$_from_source_flag = 'pc_qa_cnxzd';
			}
			foreach ( $hot_tags['list'] as $i => $item ) {
				$cls = ($i%2==0) ? '' : ' wd_mr0';
		?>
			<div class="wd_slid{$cls}">
				<h3 data-tag="{$item.id}" data-hits="{$item.hits}">{$item.title}</h3>
				<p><?php foreach ( $item['list'] as $_i => $info ) { ?>
					<a href="<?php echo url('show', array($info['id']), 'pc', 'ask'); ?>#wt_source={$_from_source_flag}" data-hits="{$info['i_hits']}">{$info.title}</a>
				<?php } ?></p>
			</div>
		<?php
			} // end foreach  
		} // end if
		?>
		</div>
	</div>
</div>
