<?php
// 如果问题有相关标签，用问题的标签聚合相关知识信息
if ( $tagsinfo ) {
	$tag_ids = array_keys($tagsinfo);
?>
<input type="hidden" id="alltags" value="<?php echo implode(',', $tag_ids); ?>"></span>
<!-- 相关知识 -->
<div class="sTit">
	相关知识
	<div class="fr">
	<?php if ( count($tagsinfo) > 1 ) { ?>
		<a class="change" href="#wt_source=pc_qa_hyh"><i></i>换一换</a>
	<?php } ?>
	</div>
	<span></span>
</div>
<div class="ty_knowledge">
	<ul>
	<?php foreach ( $guess as $i => $item ) { ?>
		<li>
			<a href="{$item.url}#wt_source=qa_info_kd" target="_blank">
				<?php if ( $item['cover'] ) { ?>
				<img src="{$item.cover|changeImageSize=###, 208, 158}">
				<?php } else { ?>
				<img src="//cdn.leju.com/qapc/images/temp/ty_temp1.png">
				<?php } ?>
				<span class="bar"></span>
				<h4>{$item.title}</h4>
			</a>
		</li>
	<?php } ?>
	</ul>
</div>
<?php } ?>
