<div class="z_ask_search">
	<div class="inner">
		<h2 class="logo"><a href="/" title="乐居问答">乐居问答</a></h2>
		<h3>专业的房地产行业问答平台</h3>
		<div class="search_wrap">
			<div class="search">
				<form id="search_form" action="/search.html#wt_source=pc_qa_ss" method="get" target="_blank">
					<input type="text" placeholder="输入关键词，查找您想要的答案" class="inp" id="qa_inp" name="k" autocomplete="off" value="{$keyword}">
					<a href="javascript:;" title="搜索" class="btn"><i></i></a>
					<div class="search_ly none" id="qa_search_ly">
						<!-- ufoguan添加 class  qa_search_ly -->
							<ul class="qa_search_ul"></ul>
							<div class="all" id="qa_all"><a href="javascript:;">查看全部关于“二手房”的搜索结果></a></div>
					</div>
				</form>
			</div>
			<a href="<?php echo url('ask', array(), 'pc', 'ask'); ?>#wt_source=pc_qa_tw" title="我要提问" class="ask_btn">我要提问</a>
		</div>
	</div>
</div>
