<style>.sAsk_list01 li:last-child { border: 0; }</style>
<?php foreach ( $todo as $i => $item ) { ?>
<li>
	<h3><a href="<?php
		echo url('show', array($item['id']), 'pc', 'ask');
		if ( $_list_source_flag ) { echo '#wt_source=', $_list_source_flag; }
	?>" style="color:red;">{$item.title}</a></h3>
	<p>{$item.desc}</p>
	<div class="clearfix">
		<div class="lab_box">
			<?php foreach ( $item['tagsinfo'] as $i => $tag ) { ?>
			<a href="<?php echo url('agg', array($tag['id']), 'pc', 'ask'); ?>#wt_source=qa_list_tag">{$tag.name}</a>
			<?php } ?>
		</div>
		<div class="info_box">
			<?php if ( $item['status']!=21 ) { ?>
			<span class="name"><?php echo formatUsernick($item['last_answer']['usernick'], $item['last_answer']['anonymous']); ?></span>
			<span>回答了问题</span>
			<span class="line">|</span>
			<span>{$item.last_answer.ctime|formatQATimer}</span>
			<?php } else { ?>
			<span class="name"><?php echo formatUsernick($item['usernick'], $item['anonymous']); ?></span>
			<span>提出了问题</span>
			<span class="line">|</span>
			<span>{$item.ctime|formatQATimer}</span>
			<?php } ?>
			<?php
			$dom_node = 0;
			switch( $item['status'] ) {
				case 22: // 已回答
					$dom_node = '<span class="state2"><i></i>待采纳</span>';
					break;
				case 23: // 已采纳
					$dom_node = '<span class="state1"><i></i>已解决</span>';
					break;
				case 21: // 待解决
				default: // 默认 待解决
					$dom_node = '<a class="help" href="'.url('show', array($item['id']), 'pc', 'ask').'"><i></i>帮帮他</a>';
					break;
			}
			echo $dom_node;
			?>
		</div>
	</div>
</li>
<?php } ?>
