<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">
	<meta name="format-detection" content="telephone=no" />
	<meta name="applicable-device" content="mobile">
	<title>{$pageinfo.seo_title}</title>
	<meta name="keywords" content="{$pageinfo.keywords}"/>
	<meta name="description" content="{$pageinfo.description}" />
	<script type="text/javascript" src="//res.leju.com/resources/app/touch/ask/js/index.js"></script>
	<link rel="stylesheet" href="//res.leju.com/resources/app/touch/ask/styles/styles.css">
	<script src="//cdn.leju.com/sso/sso.js"></script>
	<style type="text/css">
            .none {display: none!important; }
            .lMask {position: fixed; width: 100%; height: 100%;left: 0;top: 0;bottom: 0; right: 0; z-index: 100; background-color: #1a1d22;}
            .lMask .lMask_img {width: 100%;height: 88%;position: relative;overflow: auto;}
            .lMask .lMask_imgM {width: 100%;position: absolute; top: 0;bottom: 0;margin: auto;left: 0;right: 0;}
            .lMask .lMask_text {position: absolute;left: 0;bottom: 5%; width: 100%;font-size: 14px; color: #fff; padding: 0 1em;box-sizing: border-box;z-index: 99;}
	</style>
</head>
<body>
	<div class="wtqsdetail">
		<div class="dll_header">
			<a href="//m.news.leju.com/#ln=touch_ask_cjdh"><h2 class="dll_caijinglogo fl"></h2></a>
			<div class="y_txt">人物问答</div>
			<div class="dll_functionbar clearfix">
				<a href="<?php echo url('PNSearch', [''], 'touch', 'ask'); ?>#ln=touch_rw_search"><i class="dll_icon18"></i></a>
				<?php if ( !$islogined ) { ?>
				<a href="//my.leju.com" data-status="0"><i class="y_log">登录</i></a>
				<?php } else { ?>
				<a href="javascript:;" data-status="1"><i class="y_log">退出</i></a>
				<?php } ?>
			</div>
		</div>
		 <div class="wtqsdetail_top bgcolor">
			<div class="wtdetailtop_wanda">
				<a href="{$person.url}#ln=touch_rw_dh" class="wtwda">{$person.title}</a>
				<div class="wtqsfx">
					<?php
					$shareinfo = json_encode([
						'url' => url('PNQuestion', ['id'=>$question['id']], 'touch', 'ask'),
						'img' => $default['cjlogo'],
						'title' => trim($question['title']).'-乐居财经',
						'desc' => '分享你的地产看法。',
					]);
					?>
					<a href="javascript:;" class="js_share" data-lejushare='{$shareinfo}'></a>
					<a href="javascript:;" class="wtqsfx_qq js_share" data-lejushare='{$shareinfo}'></a>
					<a href="javascript:;" class="wtqsfx_kj js_share" data-lejushare='{$shareinfo}'></a>
				</div>
			</div>
			<h2>{$question.title}</h2>
			<?php if ( $word_count > 0 ) { ?>
			<p class="wtwd_duanluo" id="questionText">{$question.desc}</p>
			<?php if ( $word_count >= 47 ) { ?>
			<div class="y_more01"><a href="javascript:;" id="viewAllBtn">查看全部</a></div>
			<?php } ?>
			<?php } ?>
			<?php if ( $question['i_images']>0 && isset($question['images']) ) { ?>
			<div class="wtwd_imglb">
			<?php foreach ( $question['images'] as $i => $image ) { ?>
				<a href="javascript:;"><img class="js_img" data-origin="{$image}" src="{$image}" alt="图 <?php echo $i+1; ?>" /></a>
			<?php } ?>
			</div>
			<?php } ?>
			<div class="wtwd_gzrs">
				<span><em id="followNum">{$question.i_attention|default=0}</em>人关注</span>
				<span>|</span>
				<span>{$question.i_replies|default=0}人回答</span>
			</div>
		</div>
		<div class="wtqsdetail_newhd bgcolor">
			<h2>最新回答</h2>
		</div>
		<?php if ( empty($answers) ) { ?>
		<div class="wtqsdetail_nonehd">
			<i></i>
			<span>该问题目前没有人回答，请发起回答或提问</span>
		</div>
		<?php } else { ?>
		<ul class="wtqsdetail_content js_list">
		<?php foreach ( $answers as $i => $answer ) { ?>
		<?php $answer['url'] = url('PNAnswer', [$answer['question_id'],$answer['id']], 'touch', 'ask'); ?>
			<li class="bgcolor" data-id="{$answer['id']}">
				<div class="wtqscontside">
					<div class="wtqscont_peo">
						<div class="wtqscont_peo_lf" data-userid="{$answer.userid}">
							<img src="<?php echo $answer['avatar'] ? $answer['avatar'] : $default['avatar']; ?>" alt="{$answer.usernick}" />
							<span>{$answer.usernick}</span>
						</div>
						<div class="y_toolBox">
						<?php if ( $answer['is_fuser']==1 ) { ?>
							<a  href="javascript:void(0);" class="ic03 followBnt follow_user_{$answer.userid}" id="follow_user_{$answer['id']}" data-direct="0" data-id="{$answer.userid}" data-url="/pnapi/uUser">已关注</a>
						<?php } else { ?>
							<a  href="javascript:void(0);" class="ic02 followBnt follow_user_{$answer.userid}" id="follow_user_{$answer['id']}" data-direct="1" data-id="{$answer.userid}" data-url="/pnapi/uUser">关注</a>
						<?php } ?>
						</div>
					</div>
					<a class="con" href="{$answer.url}#ln=touch_rw_alist">{$answer.reply}</a>
					<?php if ( isset($answer['images']) && !empty($answer['images']) ) { ?>
					<div class="wtwd_imglb wtqscontimg">
					<?php foreach ( $answer['images'] as $_i => $image ) { ?>
						<a href="javascript:;" data-fullimg="{$image}"><img  class="js_img" src="{$image}" alt="图 <?php echo $_i+1; ?>" /></a>
					<?php } ?>
					</div>
					<?php } ?>
				</div>
				<ul class="wtqscont_bottom">
				<?php
					$shareinfo = json_encode([
						'url' => url('PNAnswer', [$answer['question_id'],$answer['id']], 'touch', 'ask'),
						'img' => $default['cjlogo'],
						'title' => trim($question['title']).'-乐居财经',
						'desc' => '分享你的地产看法。',
					]);
				?>
					<li><a href="javascript:;" class="js_share" data-lejushare='{$shareinfo}'><i class="wticont"></i>分享</a></li>
					<li><a href="{$answer.url}#ln=touch_rw_qpinglun"><i class="wticonone"></i>{$answer.i_comments}</a></li>
					<?php if ( $answer['is_good']==1 ) { ?>
					<li class="qson likeBtn" data-likeid="{$answer['id']}" data-isfocus="{$answer.is_focus}" data-isgood="{$answer.is_good}" data-direct="1"><a href="javascript:;"><i class="wticontwo"></i><em>{$answer.i_good}</em></a></li>
					<?php } else { ?>
					<li class="likeBtn" data-likeid="{$answer['id']}" data-isfocus="{$answer.is_focus}" data-isgood="{$answer.is_good}" data-direct="1"><a href="javascript:;"><i class="wticontwo"></i><em>{$answer.i_good}</em></a></li>
					<?php } ?>
				</ul>
			</li>
		<?php } ?>
		</ul>
		<?php if ( $next ) { ?>
		<div class="wtqsgd bgcolor">
			<a href="javascript:;" id="LJ_more">查看更多</a>
		</div>
		<?php } ?>
		<?php } ?>
	</div>
	<ul class="wtqsdetail_footer bgcolor">
		<?php if ( $question['is_focus']==1 ) { ?>
		<li class="on">
			<a class="followBnt" id="follow_question" href="javascript:;" data-direct="0" data-id="{$question.id}" data-url="/pnapi/uQuestion">
			<i class="ic01"></i>取消收藏(<em>{$question.i_attention|default=0}</em>)</a>
		</li>
		<?php } else { ?>
		<li class="">
			<a class="followBnt" id="follow_question" href="javascript:;" data-direct="1" data-id="{$question.id}" data-url="/pnapi/uQuestion">
			<i class="ic01"></i>收藏问题(<em>{$question.i_attention|default=0}</em>)</a>
		</li>
		<?php } ?>
		<li>
			<a href="javascript:;" class="js_askBtn" data-url="/show/pnr?id={$question.id}#ln=touch_rw_qhuida"><i class="wtfticon"></i>添加回答</a>
		</li>
	</ul>
	<div class="y_mask cancelFollowTip" style="display: none;">
		<div class="y_pop">
			<h2>确定取消关注吗？</h2>
			<div class="y_btn sureCancelFollow">取消关注</div>
			<div class="y_off">
				<a class="closeTip"></a>
			</div>
		</div>
	</div>
    <div class="lMask none" id="img_scale">
    	<h3 class="g_lbtitle">图片预览<a href="javascript:void(0);" class="g_prev"></a></h3>
    	
        <div class="lMask_img" id="img_scale_box">
        	<img class="lMask_imgM" id="img_scale_img" src="" style="width: 375px;">
        </div>
        <p class="lMask_text">
            <span></span>
        </p>
    </div>
    
    
	<script type="text/template" id="build_tpl">
	<literal>
        {{~it:item}}
			<li class="bgcolor" data-id="{{=item.id}}">
				<div class="wtqscontside">
					<div class="wtqscont_peo">
						<div class="wtqscont_peo_lf" data-userid="{{=item.userid}}">
							<img src="{{=item.avatar}}" alt="{{=item.usernick}}" />
							<span>{{=item.usernick}}</span>
						</div>
						<div class="y_toolBox">
						{{?item.is_fuser == 1}}
							<a href="javascript:void(0);" class="ic03 followBnt follow_user_{{=item.userid}}" id="follow_user_{{=item.id}}" data-direct="0" data-id="{{=item.userid}}" data-url="/pnapi/uUser">已关注</a>
						{{??}}
							<a href="javascript:void(0);" class="ic02 followBnt follow_user_{{=item.userid}}" id="follow_user_{{=item.id}}" data-direct="1" data-id="{{=item.userid}}" data-url="/pnapi/uUser">关注</a>
						
						{{?}}
						</div>
					</div>
					<a class="con" href="{{=item.url}}#ln=touch_rw_alist">{{=item.reply}}</a>
					{{?item.images && item.images.length > 0}}
					<div class="wtwd_imglb wtqscontimg">
						{{~item.images:img}}
							<a href="javascript:;" data-fullimg="{{=img}}"><img  class="js_img" src="{{=img}}" alt="" /></a>
						{{~}}
					</div>
					{{?}}				
				</div>
				<ul class="wtqscont_bottom">
					<li><a href="javascript:;" class="js_share" data-lejushare='{{=item.shareData}}'><i class="wticont"></i>分享</a></li>
					<li><a href="{{=item.url}}"><i class="wticonone"></i>{{?item.i_replies}}{{=item.i_replies}}{{?}}</a></li>
					<li class="likeBtn" data-likeid="{{=item.id}}" data-direct="1"><a href="javascript:;"><i class="wticontwo"></i><em>{{=item.i_good}}</em></a></li>
				</ul>
			</li>
        {{~}}
	</literal>

    </script>
	<script type="text/javascript">
		var pageConf = {
			id:'{$question.id}',//
			moreUrl:'/show/more_pna',//
			isFollowUrl:'/pnapi/status',//判断用户是否已关注问题、回答问题人
			logo: '{$default.cjlogo}',	// 分享使用的默认logo
			title:'{$question.title}' //分享使用的title
		}
	</script>
	<script type="text/javascript">
		var city = '{$statscode.city}';
		var level1_page = '{$statscode.level1_page}';
		var level2_page = '{$statscode.level2_page}';
		var custom_id = '{$statscode.custom_id}';
		var news_source='{$statscode.news_source}';
	</script>
	<script type="text/javascript" src="//cdn.leju.com/lejuTj/gather.source.js"></script>
	<script src="//res.leju.com/scripts/libs/zepto/v1/zepto.js"></script>
	<script src="//res.leju.com/scripts/app/ask/v1/show_question_person.js"></script>
	<script src="//res.leju.com/scripts/app/ask/v1/login.js"></script>
</body>
</html>
