<script type="text/javascript" src="http://cdn.leju.com/encypc/js/fullPage/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="http://cdn.leju.com/encypc/js/encypc.js?r"></script>
<script src="http://res.leju.com/scripts/app/encypc/v1/pc_detail.js" type="text/javascript"></script>
<?php
$controller = strtoupper(CONTROLLER_NAME);
if ( $controller!='SHOW' ) {
?>
<script type="text/javascript">
    var city = 'quanguo';
    var level1_page = '{$level1_page}';
    var level2_page = '{$level2_page}';
    var custom_id = '{$custom_id}'; 
    var webtype='';
    var news_source='';
</script>
<script type="text/javascript" src="http://m.leju.com/resources/scripts/gather.pc.source.js"></script>
<?php } ?>
<!-- 乐居统一标准 友情链接 -->
{$common_tpl.links}
<!-- 乐居统一标准 页尾 -->
{$common_tpl.footer}