<!-- 页头 -->
{$common_tpl.header}
<!-- 导航条 -->
<if condition="($Think.const.CONTROLLER_NAME neq 'Index')">
<div class="z_main_menu">
	<div class="inner clearfix">
		<div class="m_l">
			<h2 class="logo">
			<a href="<?php echo url('index', array(), 'pc', 'baike') ?>" title="房产百科">房产百科</a>
			</h2>
			<!-- <div class="city">
				<a href="#" class="btn">{$city.cn}<i></i></a>
			</div> -->
		</div>
		<div class="m_r">
			<ul class="menu">
				<volist name="cate_all" id="item">
				<li name="{$item.id}" class="<eq name='i' value='1'>cur</eq>">
					<a href="<?php echo url('index', array('cid'=>$item['id']), 'pc', 'baike');?>"><i class="line"></i>{$item.name}</a>
					<div class="menu_ly_wrap">
						<volist name="item.son" id="lv2" key="kk">
							<eq name="kk" value="1">
								<div class="menu_ly clearfix none">
							</eq>
							<dl>
								<dt><a href="<?php echo url('cate', array('id'=>$lv2['id'], 'page'=>1), 'pc', 'baike');?>" title="{$lv2.name}" target="_blank">{$lv2.name}</a><i></i></dt>
								<volist name="lv2.son" id="lv3">
									<dd><a href="<?php echo url('cate', array('id'=>$lv3['id'], 'page'=>1), 'pc', 'baike');?>" title="{$lv3.name}">{$lv3.name}</a></dd>
								</volist>
							</dl>
							<if condition="$kk eq count($item.son)-1">
							</div>
							</if>
						</volist>
					</div>
				</li>
			</volist>
			</ul>

			<!-- 搜索框 -->
			<div class="z_search_wrap">
				<div class="z_search">
					<form id="search_form" action="<?php echo url('search', array(), 'pc', 'wiki') ?>" method="GET">
					<input type="text" name="word" class="s_inp" placeholder="乐居房产百科-您身边的房产专家" autocomplete="off">
					<input type="hidden" name="page" value="1">
					<a href="javascript:;" title="搜索" class="s_btn">搜&ensp;索</a>
					</form>
				</div>
				<!-- 浮层 -->
				<div class="z_search_ly none">
				</div>
			</div>
		</div>
	</div>
</div>
</if>
