<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="styles/styles.css">
</head>
<body>
	<div class="b_popBox">
		<h2>推荐<a href="#"></a></h2>
		<div class="popBody">
			<div class="clearfix b_labelBox">
				<!-- <a href="#" class="z_del_btn">删除</a> -->
				<a href="#" class="z_label"><i></i>碧桂园</a>
				<a href="#" class="z_label"><i></i>保利国际地产</a>
				<a href="#" class="z_label"><i></i>南海子公园</a>
				<a href="#" class="z_label"><i></i>碧桂园</a>
				<a href="#" class="z_label"><i></i>保利国际地产</a>
				<a href="#" class="z_label"><i></i>南海子公园</a>
				<a href="#" class="z_label"><i></i>碧桂园</a>
			</div>
		</div>
	</div>
	<div class="b_popBox">
		<h2>推荐<a href="#"></a></h2>
		<div class="popBody">
			<div class="clearfix b_refresh">
				<a href="#"></a>
				<h3>看看能不能为你推荐点有意思的标签</h3>
			</div>
		</div>
	</div>
	<div class="b_popBox">
		<h2>推荐<a href="#"></a></h2>
		<div class="popBody">
			<div class="clearfix b_noCon">
				<i></i>
				<h3>没找到能匹配当前文章的标签</h3>
				<p>1、文章内容是不是有点少？丰富一下文章内容再试试</p>
				<p>2、手动<a href="#">添加标签</a></p>
			</div>
		</div>
	</div>
	<div class="b_popBox">
		<h2>添加<a href="#"></a></h2>
		<div class="popBody">
			<div class="clearfix b_popform">
				<div class="fbox"><label for="">标题：</label><input type="text"></div>
				<div class="fbox"><label for="">备注：</label><input type="text"></div>
				<div class="btnBox"><a href="#" class="l_btn l_red">确认添加</a></div>
			</div>
		</div>
	</div>
</body>
</html>