<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="styles/styles.css">
</head>
<body>
	<div class="y_wrap">
		<div class="y_head">
			<div class="y_logo"><img src="images/y_logo.png" ></div>
			<div class="y_user">
				<a class="us" href=""><i></i>王菲</a><a href="">北京编辑</a>
			</div>
			<a class="y_icon01"></a>
		</div>
		<div class="y_main clearfix">
			<div class="y_left">
				<div class="y_nav">
					<h2><i class="ic01"></i>系统首页</h2>
					<h2 class="on"><i class="ic02"></i>知识管理<em></em></h2>
					<ul class=""> <!--none 为隐藏class名-->
						<li class="on"><a href="">管理知识</a></li>
						<li><a href="">添加知识</a></li>
					</ul>

					<h2><i class="ic03"></i>词条管理<em></em></h2>
					<ul>
						<li><a href="">管理词条</a></li>
						<li><a href="">添加词条</a></li>
					</ul>

					<h2><i class="ic04"></i>用户管理<em></em></h2>
					<ul>
						<li><a href="">角色管理</a></li>
						<li><a href="">用户管理</a></li>
					</ul>

					<h2><i class="ic05"></i>栏目管理<em></em></h2>
					<ul>
						<li><a href="">知识栏目</a></li>
					</ul>
				</div>
			</div>
			<div class="y_right">
				<div class="ty_content">
					<h3 class="d-title clearfix">
						<span>词条管理</span>
					</h3>
					<div class="ty_Ctop clearfix">
						<ul class="clearfix">
							<li><span>词条</span><input class="w144" type="text"></li>
							<li>
								<span>来源</span>
								<select class="w102" name="" id="">
									<option value="" selected>请选择</option>
									<option value=""></option>
									<option value=""></option>
								</select>
							</li>
							<li>
								<span>类别</span>
								<select class="w102" name="" id="">
									<option value="" selected>请选择</option>
									<option value=""></option>
									<option value=""></option>
								</select>
							</li>
							<li><span>作者</span><input class="w100" type="text"></li>
							<li>
								<span>发布时间</span><input class="w155" type="text"><i class="ty_date"></i>
							</li>
							<li class="fr"><a href="#" class="l_btn l_red">查询</a></li>
						</ul>
					</div>
					<div class="ty_list">
						<!-- 无结果 -->
						<div class="ty_Nores">
							您选择“条件搜索”后，<span>暂无数据</span>！
						</div>
						<!-- 无结果end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>