<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>{$pageinfo.title}</title>
	<meta name="keywords" content="{$pageinfo.keywords}"/>
	<meta name="description" content="{$pageinfo.description}" />
	<link rel="stylesheet" href="//cdn.leju.com/encypc/styles/styles.css">
	<script type="text/javascript" src="http://cdn.leju.com/encypc/js/fullPage/jquery-1.8.3.min.js"></script>
</head>
<body>
	<include file="Public:header" />
	{__CONTENT__}
	<include file="Public:footer" />

	<script type="text/javascript" src="http://cdn.leju.com/encypc/js/encypc.js?r"></script>
</body>
</html>
