<div class="ty_content">
	<h3 class="d-title clearfix">
		<span>知识管理</span>
	</h3>
	<form id="searchForm" action="/Knowledge" method="get">

	<div class="ty_Ctop clearfix">
		<ul class="clearfix">
			<li><span>题目</span><input name="keyword" value="<notempty name='params.keyword'>{$params.keyword}</notempty>" type="text"></li>
			<li><span>作者</span><input name="editor" value="<notempty name='params.editor'>{$params.editor}</notempty>" class="w110" type="text"></li>
			<li>
				<span>城市</span>
				<select class="w102" name="scope" id="">
					<option value="" selected>请选择</option>
					<foreach name="cities" item="c" key="k">
						<option value="{$c.en}" <eq name="c.en" value="$params.scope">selected="selected"</eq>>{$c.en|strtoupper} - {$c.cn}</option>
					</foreach>
				</select>
			</li>
			<li>
				<span>来源</span>
				<select name="src_type" id="">
					<option value="" >请选择</option>
					<option value="0" <eq name="params.src_type" value="0">selected="selected"</eq> >原创</option>
					<option value="1" <eq name="params.src_type" value="1">selected="selected"</eq> >收录</option>
				</select>
			</li>
			<li>
				<span>发布时间</span><input value="<notempty name='params.ptime'>{$params.ptime}</notempty>" id="searchdate" name="ptime" class="w210" type="text"><i class="ty_date"></i>
			</li>
			<li class="ty_lanmu">
				<span>栏目</span>
				<select name="level1" id="" class="unionAction">
					<option value="" >请选择</option>
					<foreach name="binds.authorcate" item="ac" key="k">
						<option value="{$k}" <eq name="k" value="$params.level1">selected="selected"</eq> >{$ac}</option>
					</foreach>
				</select>
				<select name="level2" id="" class="unionAction">
					<option value="">请选择</option>
					<noempty name="level2">
					<foreach name="binds.level2" item="l2" key="k">
					<option value="{$k}" <eq name="k" value="$params.level2">selected="selected"</eq> >{$l2}</option>
					</foreach>>
					</noempty>
				</select>
				<select name="cateid" id="" class="unionAction">
					<option value="">请选择</option>
					<noempty name="level3">
					<foreach name="binds.level3" item="l3" key="k">
					<option value="{$k}" <eq name="k" value="$params.cateid">selected="selected"</eq> >{$l3}</option>
					</foreach>
					</noempty>
				</select>
			</li>
			<li >
			<span>发布状态</span>
				<select name="status" id="">
				<option value="">请选择</option>
					<option value="9" <eq name="params.status" value="9">selected="selected"</eq>>已发布</option>
					<option value="1" <eq name="params.status" value="1">selected="selected"</eq>>未发布</option>
				</select>
			</li>
			<li class="fr"><a href="#" class="l_btn l_red">查询</a></li>
			
		</ul>
	</div>
	</from>
	<div class="ty_list">
		<a class="ty_new" href="/Knowledge/Add"><i class="ty_add"></i>新建</a>
		<table class="d-table">
			<thead>
				<th>ID</th>
				<th title="所属一级栏目名称">栏目</th>
				<th>题目</th>
				<th>城市</th>
				<th>作者</th>
				<th>发布时间</th>
				<th>来源</th>
				<th>操作</th>
			</thead>
			<tbody>
			<foreach name="data" item="l" key="k">
				<tr data-id="{$l._origin.id}">
					<td><span>{$l._id}</span></td>
					<td><span>{$l._category}</span></td>
					<td class="tl"><span>{$l._title}<gt name="l._origin.rcmd_time" value="0"><em>荐</em></gt><gt name="l._origin.top_time" value="0"><em class="ding">顶</em></gt><eq name="l._timer" value="1"><em class="time"><i class="ty_time"></i></em></eq></span></td>
					<td><span>{$l._scope}</span></td>
					<td><span>{$l._origin.editor}</span></td>
					<td><span>{$l._origin.version|date="Y-m-d H:i:s",###}</span></td>
					<td>
					<span>
					<eq name="l._origin.src_type" value="0">
					原创
					<else/>
					<a class="link" target="_blank" href="{$l._src_url}">
					收录<i class="ty_link"></i>
					</eq>
					
					</a>
					</span>
					</td>
					<td>
						<p class="last"><a class="a1" href="/Knowledge/edit?id={$l._origin.id}<gt name='$l._origin.pkid' value='0'>&pkid={$l._origin.pkid}</gt>">修改</a><a class="a2" data-id="{$l._id}" href="javascript:;">删除</a>
						<!--<a class="a3" href="">置顶</a><a class="a4" href="">审核</a>-->
						</p>
					</td>
				</tr>
			</foreach>				
			</tbody>
		</table>
		<notempty name="pager">
			<include file="Public:pager" />
		</notempty>

		<!-- 无结果 -->
		<eq name="pager.total" value="0">
		<div class="ty_Nores">
			您选择“条件搜索”后，<span>暂无数据</span>！
		</div>
		</eq>
		<!-- 无结果end -->

	</div>
</div>

<script type="text/javascript" src="http://cdn.leju.com/jQuery1.8.2;encyclopedia/js/base;encyclopedia/js/Pages/knowledge_manage.js?r"></script>
