<include file="Public:search" />

<div class="section">
	<div class="s-header"><p>我的回答</p></div>
	<div class="s-content">
		<ul class="s-c-article profile" data-type="answers">
		<?php foreach ( $list as $i => $item ) { ?>
			<li>
				<a href="<?php echo url('show', array($item['id']), 'touch', 'ask'); ?>">
					<p>{$item.title}</p>
				</a>
				<ul class="s-c-column">
				<?php
				if ( $item['catenamepath'] ) {
					foreach ( $item['catenamepath'] as $cateid => $catename ) { 
				?>
					<li><?php if ( intval($item['cateid'])==intval($cateid) ) { ?>
					<a href="<?php echo url('list', array($cateid), 'touch', 'ask'); ?>">{$catename}</a><?php } else { ?>{$catename}<?php } ?>
					</li>
				<?php
					} // end foreach
				} // end if
				else {
					// <li><a href="#">无栏目</a></li>
				?>
				<?php
				}
				?>
				</ul>
				<div class="s-c-l-wrap">
					<i class="i-s-label"></i>
					<ul class="s-c-label">
					<?php foreach ( $item['tagsinfo'] as $i => $tag ) { ?>
						<li><a href="<?php echo url('agg', array($tag['id']), 'touch', 'ask'); ?>">{$tag.name}</a></li>
					<?php } ?>
					</ul>
				</div>
			</li>
		<?php } ?>
		</ul>
	</div>
</div>
<include file="Public:ask.button" />
<?php if ( $pager['hasnext']==1 ) { ?>
<div class="loading">
	<i class="i-l-loading"></i>
	<p>加载更多</p>
</div>
<?php } ?>
