<div class="banner">
	<img src="//leju-knowledge.b0.upaiyun.com/q/images/banner-p.jpg" alt="Banner Background">
	<a href="#" class="b-back"><i class="i-b-back"></i></a>
	<div class="b-face">
		<img src="{$userinfo.headurl|changeImageSize=###, 120, 120}">
	</div>
	<div class="b-name">
		<p>{$userinfo.username}</p>
	</div>
	<ul class="b-info">
		<li>
			<p>问题<span>{$stats.questions}</span></p>
		</li>
		<li>
			<p>回答<span>{$stats.answers}</span></p>
		</li>
		<li>
			<p>关注<span>{$stats.attentions}</span></p>
		</li>
	</ul>
</div>
<div class="section s-personal">
	<div class="s-content">
		<ul class="s-c-article">
			<li>
				<a href="<?php echo url('profile', array('questions'), 'touch', 'ask'); ?>">
					<i class="i-s-a-question"></i>
					<p>我的问题</p>
					<i class="i-s-a-jump"></i>
				</a>
			</li>
			<li>
				<a href="<?php echo url('profile', array('answers'), 'touch', 'ask'); ?>">
					<i class="i-s-a-answer"></i>
					<p>我的回答</p>
					<i class="i-s-a-jump"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="section s-personal">
	<div class="s-content">
		<ul class="s-c-article">
			<?php
				$li_class = '';
				if ( $userdata['i_updated']>0 ) {
					$li_class = ' class="new"';
				}
			?>
			<li{$li_class}>
				<a href="<?php echo url('profile', array('attentions'), 'touch', 'ask'); ?>">
					<i class="i-s-a-follow"></i>
					<p>我的关注</p>
					<i class="i-s-a-jump"></i>
				</a>
			</li>
			<li>
				<a href="<?php echo url('profile', array('recommends'), 'touch', 'ask'); ?>">
					<i class="i-s-a-recommend"></i>
					<p>我的推荐</p>
					<i class="i-s-a-jump"></i>
				</a>
			</li>
			<li>
				<a href="<?php echo url('profile', array('todo'), 'touch', 'ask'); ?>">
					<i class="i-s-a-solve"></i>
					<p>待我解决</p>
					<i class="i-s-a-jump"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
