<div class="content_wrapper {$jsflag}">
	<!-- 知识导航 -->
	<div class="zNav">
		<notempty name="cate_all">
		<?php foreach ( $cate_all as $ti => $c ) { ?>
		<div class="nav_blk">
			<a href="<?php echo url('cate', array('id'=>$c['id'], 'city'=>$city['code']));?>"><h2>{$c.name}</h2></a>
			<notempty name="c.son">
			<ul class="clearfix">
			<li>
			<?php
				$key = 0;
				foreach ( $c['son'] as $si => $s ) {
			?>
				<if condition="$key % 3 == 0">
					<neq name="key" value="1"></li><li></neq><a href="<?php echo url('cate', array('id'=>$s['id'], 'city'=>$city['code']));?>">{$s.name}</a>
				<else/>
					<a href="<?php echo url('cate', array('id'=>$s['id'], 'city'=>$city['code']));?>">{$s.name}</a>
				</if>
			<?php
					$key ++;
				}
			?>
			</ul>
			</notempty>
		</div>
		<?php } ?>
		</notempty>
	</div>
</div>