<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">
	<meta name="format-detection" content="telephone=no" />
	<meta name="applicable-device" content="mobile">
	<title>Document</title>
	<script type="text/javascript" src="//res.leju.com/resources/app/touch/ask/js/index.js"></script>
	<link rel="stylesheet" href="//res.leju.com/resources/app/touch/ask/styles/styles.css">
	<style type="text/css">
            .none {display: none!important; }
            .lMask {position: fixed; width: 100%; height: 100%;left: 0;top: 0;bottom: 0; right: 0; z-index: 100; background-color: #1a1d22;}
            .lMask .lMask_img {width: 100%;height: 88%;position: relative;overflow: auto;}
            .lMask .lMask_imgM {width: 100%;position: absolute; top: 0;bottom: 0;margin: auto;left: 0;right: 0;}
            .lMask .lMask_text {position: absolute;left: 0;bottom: 5%; width: 100%;font-size: 14px; color: #fff; padding: 0 1em;box-sizing: border-box;z-index: 99;}
	</style>
</head>
<body class="bgcolor">
	<div class="wtanswer_top">
		<a href="javascript:history.back();"><i></i></a>
		<h2>提问</h2>
	</div>
	<div class="wtask_srqs">
		<input type="hidden" name="company_id" value="{$company_id}"/>
		<input type="text" id="title" value="" placeholder="请输入你的问题，不少于10个字哦" onpropertychange="checkLen(this,80);" oninput="checkLen(this,80);" onkeyup="checkLen(this,80);"/>
		<span class="wtask_oly"><span id="tCount">0</span>/80</span>
	</div>
	<div class="wtanswer_textarea wtanswer_hig">
		<textarea name="desc" id="askContent" rows="" cols="" placeholder="问题说明 (可选)" onpropertychange="checkLen(this,1000);" oninput="checkLen(this,1000);" onkeyup="checkLen(this,1000);"></textarea>
		<span class="wtonly"><span id="count">0</span>/1000</span>
	</div>
	<div class="wtwd_imglb wtanswer_lbtp">
		<div id="uploaded">
			
		</div>
		<div class="wtanswer_addimg">
			<a href="javascript:void(0);" class="wtablk" id="uploadImg">
				<i></i>
				<span>添加图片</span>
			</a>
		</div>
	</div>
	<div class="lMask none" id="img_scale">
		<h3 class="g_lbtitle">图片预览<a href="javascript:void(0);" class="g_prev"></a></h3>
		
        <div class="lMask_img" id="img_scale_box"><img class="lMask_imgM" id="img_scale_img" src="" style="width: 375px;"></div>
        <p class="lMask_text">
            <span></span>
        </p>
    </div>
	<button class="wtanswer_upda js_submit">发布问题</button>
	<input type="file" style="display: none" id="imgFile" name="Filedata[]" multiple="multiple">
	<script type="text/javascript">
		function checkLen(obj,maxlength){
		    if(obj.value.length > maxlength){
		        obj.value = obj.value.substring(0,maxlength);
		    }
		    var curr = obj.value.length;
		    var id = obj.getAttribute('id');
		    if(id == 'askContent'){
		    	document.getElementById("count").innerHTML = curr.toString();
		    }else{
		    	document.getElementById("tCount").innerHTML = curr.toString();
		    }
		}
	</script>
	<script type="text/javascript">
		var pageConf = {
			company_id:'{$company_id}',//指定要回答的问题编号
			askUrl:'/ldapi/ask',//回答提交
			uploadImgUrl:'http://photo.leju.com/api/v2/upload',//上传图片
			images:[],
			succBackUrl:'{$succurl}'//提问成功跳转地址 公司聚合页
		}
	</script>
	<script type="text/javascript">
		var city = '{$statscode.city}';
		var level1_page = '{$statscode.level1_page}';
		var level2_page = '{$statscode.level2_page}';
		var custom_id = '{$statscode.custom_id}';
		var news_source='{$statscode.news_source}';
	</script>
	<script type="text/javascript" src="//cdn.leju.com/lejuTj/gather.source.js"></script>
	<script src="//res.leju.com/scripts/libs/zepto/v1/zepto.js"></script>
	<script src="//res.leju.com/scripts/app/ask/v1/ask_commpany.js"></script>
</body>
</html>
