<div class="success">
	<div class="s-success">
		<img src="//cdn.leju.com/encypc/images/wd_success.png">
	</div>
	<div class="s-s-desc1">
		<p>专家们正眉头紧锁，思考答案</p>
	</div>
	<div class="s-s-desc2">
		<p>最新回复会邮箱或者手机提示您</p>
	</div>
	<div class="s-b-wrap">
		<a href="/profile/">我的问答</a>
		<a href="/">问答首页</a>
	</div>
</div>
<?php if ( $rel_questions ) { ?>
<div class="section s-relevant">
	<div class="s-header"><p>相关问题</p></div>
	<div class="s-content">
		<ul class="s-c-article">
		<?php foreach ( $rel_questions as $i => $q ) { ?>
			<li><a href="{$q.url}"><p>{$q.title}</p></a></li>
		<?php } ?>
		</ul>
	</div>
</div>
<?php } ?>
<?php if ( $rel_knowledge ) { ?>
<div class="section s-success">
	<div class="s-header"><p>相关知识</p></div>
	<div class="s-content">
		<ul class="s-c-article">
		<?php foreach ( $rel_knowledge as $i => $q ) { ?>
			<li><a href="{$q.url}"><p>{$q.title}</p></a></li>
		<?php } ?>
		</ul>
	</div>
</div>
<?php } ?>
