<div class="b_wrapper content_wrapper tagsearchnone">
<!-- 	<div class="b_topBox">
		<div class="b_searchBox">
			<input type="text">
			<a href="#" class="error"></a>
		</div>
		<a href="#" class="b_cancel">取消</a>
	</div> -->
	<div class="y_scRes">

		<div class="y_finde">
			<img src="//{$Think.server.PS_URL}/images/y_img01.png" >
			<h2>未找到与“{$keyword}”相关的词条。</h2>
		</div>

		<!--notempty name="list">
		<dl class="y_scList">
			<dt>内容中带有“{$keyword}”内容相关词条</dt>
			<foreach name="list" key="k" item="vo">
			<if condition="$k lt 10">
			<dd>
				<a href="/tag/show?id={$vo.id}">
				<h2>{$vo.entry}</h2>
				<p>{$vo.hightlight}</p>
				</a>
			</dd>
			</if>
			</foreach>
		</dl>
		</notempty-->
	</div>
</div>
