<div class="y_left">
	<div class="y_nav">
		<h2 <if condition="($Think.const.CONTROLLER_NAME eq 'Index') AND ($Think.const.ACTION_NAME eq 'index')">class="on menu_title"<else />class="menu_title"</if>>
		<a href="/"><i class="ic01"></i>系统首页</a></h2>

		<h2 <if condition="($Think.const.CONTROLLER_NAME eq 'Knowledge') AND ($Think.const.ACTION_NAME neq 'Cate')">class="on menu_title"<else />class="menu_title"</if>><i class="ic02"></i>知识管理<em></em></h2>
		<ul class=""> <!--none 为隐藏class名-->
			<li <if condition="($Think.const.CONTROLLER_NAME eq 'Knowledge') AND ($Think.const.ACTION_NAME eq 'index')">class="on"</if>><a href="/Knowledge/">管理知识</a></li>
			<li <if condition="($Think.const.CONTROLLER_NAME eq 'Knowledge') AND ($Think.const.ACTION_NAME eq 'Add')">class="on"</if>><a href="/Knowledge/Add">添加知识</a></li>
		</ul>

		<h2 <if condition="($Think.const.CONTROLLER_NAME eq 'Question')">class="on menu_title"<else />class="menu_title"</if>><i class="ic02"></i>问答管理<em></em></h2>
		<ul class=""> <!--none 为隐藏class名-->
			<li <if condition="($Think.const.CONTROLLER_NAME eq 'Question') AND ($Think.const.ACTION_NAME eq 'index')">class="on"</if>><a href="/Question/">管理问答</a></li>
			<li <if condition="($Think.const.CONTROLLER_NAME eq 'Question') AND ($Think.const.ACTION_NAME eq 'company')">class="on"</if>><a href="/Question/company">乐道问答</a></li>
			<li <if condition="($Think.const.CONTROLLER_NAME eq 'Question') AND ($Think.const.ACTION_NAME eq 'person')">class="on"</if>><a href="/Question/person">人物问答</a></li>
		</ul>

		<h2 <if condition="($Think.const.CONTROLLER_NAME eq 'Wiki')">class="on menu_title"<else />class="menu_title"</if>><i class="ic03"></i>词条管理<em></em></h2>
		<ul>
			<li <if condition="($Think.const.CONTROLLER_NAME eq 'Wiki') AND ($Think.const.ACTION_NAME eq 'index')">class="on"</if>><a href="/Wiki/">管理词条</a></li>
			<li <if condition="($Think.const.CONTROLLER_NAME eq 'Wiki') AND ($Think.const.ACTION_NAME eq 'Add')">class="on"</if>><a href="/Wiki/Add">添加词条</a></li>
		</ul>

		<h2 <if condition="($Think.const.CONTROLLER_NAME eq 'Roles') OR ($Think.const.CONTROLLER_NAME eq 'Admin')">class="on menu_title"<else />class="menu_title"</if>><i class="ic04"></i>用户管理<em></em></h2>
		<ul>
			<li <if condition="($Think.const.CONTROLLER_NAME eq 'Roles') AND ($Think.const.ACTION_NAME eq 'index')">class="on"</if>><a href="/Roles/">角色管理</a></li>
			<li <if condition="($Think.const.CONTROLLER_NAME eq 'Admin') AND ($Think.const.ACTION_NAME eq 'index')">class="on"</if>><a href="/Admin/">用户管理</a></li>
		</ul>

		<h2 <if condition="($Think.const.CONTROLLER_NAME eq 'Knowledge') AND ($Think.const.ACTION_NAME eq 'Cate')">class="on menu_title"<else />class="menu_title"</if>><i class="ic05"></i>栏目管理<em></em></h2>
		<ul>
			<li <if condition="($Think.const.CONTROLLER_NAME eq 'Cate') AND ($Think.const.ACTION_NAME eq 'Knowledge')">class="on"</if>><a href="/Cate/Knowledge">知识栏目</a></li>
			<li <if condition="($Think.const.CONTROLLER_NAME eq 'Cate') AND ($Think.const.ACTION_NAME eq 'Question')">class="on"</if>><a href="/Cate/Question">问答栏目</a></li>
		</ul>

		<h2 <if condition="($Think.const.CONTROLLER_NAME eq 'Logs')">class="on menu_title"<else />class="menu_title"</if>><i class="ic02"></i>操作审计<em></em></h2>
		<ul class="">
			<li <if condition="($Think.const.CONTROLLER_NAME eq 'Logs') AND ($Think.const.ACTION_NAME eq 'index')">class="on"</if>><a href="/Logs/">操作日志</a></li>
		</ul>
		<?php if ( $userinfo['_developer'] ) { ?>
		<h2 <if condition="($Think.const.CONTROLLER_NAME eq 'Devel')">class="on menu_title"<else />class="menu_title"</if>><i class="ic02"></i>开发者工具<em></em></h2>
		<ul class="">
			<li <if condition="($Think.const.CONTROLLER_NAME eq 'Devel') AND ($Think.const.ACTION_NAME eq 'index')">class="on"</if>><a href="/Devel/">开发者工具</a></li>
		</ul>
		<?php } ?>
	</div>
</div>
