<ul>
	<li><a href="/">首页</a></li>
	<li><a href="/cate/?cate=3">分类列表页</a></li>
	<li><a href="/map/">知识导航页</a></li>
	<li><a href="/list/?cate=11">栏目列表页</a></li>
	<li><a href="/search/?k=关键词">知识搜索页</a></li>
	<li><a href="/show/?id=100">正文</a></li>


	<li><a href="/index.html">首页(伪静态)</a></li>
	<li><a href="/cate-3.html">分类列表页(伪静态)</a></li>
	<li><a href="/map.html">知识导航页(伪静态)</a></li>
	<li><a href="/list-11.html">栏目列表页(伪静态)</a></li>
	<li><a href="/search-关键词.html">知识搜索页(伪静态)</a></li>
	<li><a href="/show-100.html">正文(伪静态)</a></li>
</ul>


<hr />
<a href="/tag/Index-Demo.html">词条演示页</a>

