<div class="b_card g_card clearfix">
	<span>基本信息：</span>
	<div class="g_inbox clearfix">
		<div class="g_sinput">
			<em>外文名：</em>
			<input type="text" name="basic[enname]" placeholder="外文名" class="g_ip001 js_verify" value="{$data.basic.enname}" leng="10">
		</div>
		<div class="g_sinput">
			<em>简&ensp;&ensp;称：</em>
			<input type="text" name="basic[stname]" placeholder="简称" class="g_ip001 js_verify" value="{$data.basic.stname}" leng="10">
		</div>
		<div class="g_sinput">
			<em>创建时间：</em>
			<?php
				$basic_ctime = '';
				if ( isset($data['basic']['ctime']) && trim($data['basic']['ctime'])!='' ) {
					$basic_ctime = date('Y-m-d', strtotime($data['basic']['ctime']));
				}
				// $basic_ctime = trim($data['basic']['ctime']);
			?>
			<input name="basic[ctime]" type="text" value="{$basic_ctime}" placeholder="创建时间" class="g_ip001 js_verify" id="basic_ctime">
		</div>
		<div class="g_sinput">
			<em>城&ensp;&ensp;市：</em>
			<select name="city" class="g_s001 g_s002 js_verify" id="basic_city">
				<option value="">请选择</option>
				<?php
				foreach ( $cities as $cityen => $city ) {
					$selected = $data['city']==$city['cn'] ? ' selected' : '';
				?>
				<option value="{$city.cn}"{$selected}>{$cityen} - {$city.cn}</options>
				<?php } ?>
			</select>
		</div>
		<div class="g_sinput">
			<em>官方网站：</em>
			<input type="text" name="basic[homepage]" placeholder="官方网站" class="g_ip001" value="{$data.basic.homepage}">
		</div>
	</div>
</div>
