<div class="search_wrapper none b_wrapper">
	<div class="b_topBox">
		<a href="#" class="b_cancel fr">取消</a>
		<div class="b_searchBox fr">
			<form action="<?php echo url('search', array(''), 'touch', 'wiki') ?>">
				<input type="search" placeholder="搜词条" name="word" autocomplete="off">
				<a href="#" class="error none"></a>
			</form>
		</div>
	</div>
	<ul class="b_list">
		<!-- <li><a href="#"><span>恒大</span>地产</a></li> -->
	</ul>
</div>
<script type="text/javascript" src="//{$Think.server.PS_URL}/prd/js/entry.js"></script>
<script type="text/javascript">
    var city = '{$city}';
    var level1_page = '{$level1_page}';
    var level2_page = '{$level2_page}';
    var custom_id = '{$custom_id}';
    var webtype='';
    var news_source='';
</script>
<script type="text/javascript" src="http://cdn.leju.com/lejuTj/gather.source.js"></script>