body{background: url(../images/y_lbg.jpg) repeat-y left;}
.y_wrap{min-width: 1300px;}
.y_head{height:90px;background: #2e2e39 url(../images/y_hbg.jpg) repeat-y right;position: relative;}
.y_main{padding-left:230+20px;zoom:1;overflow: hidden;padding-right: 37px;
	.y_left{padding-bottom: 10000px; margin-bottom: -10000px;float: left;margin-left: -250px;background: #2e2e39;width: 230px;border-top:solid 2px #40414a;}
	.y_right{padding-bottom: 10000px; margin-bottom: -10000px;float: left;width: 100%;padding-top: 8px;}
}
.y_logo{position: absolute;top:30px;left: 20px;
	img{display: block;}
}
.y_user{position: absolute;right: 111px;top:40px;
	
	a{color: #999999;font-size: 12px;line-height: 16px;
		&.us{margin-right: 15px;}
		i{@extend %y_icon;display: inline-block;width: 16px;height: 15px;background-position: 0 -36px;vertical-align: -2px;margin-right: 5px;}
		&:hover{color: #fff;
			i{background-position:0 -52px;}
		}
	}
}
.y_icon01{@extend %y_icon;width: 34px;height: 32px; background-position:-18px -36px;position: absolute;right: 37px;top:31px;cursor: pointer;
	&:hover{background-position: -53px -36px;}
}
.y_nav{
	h2{height: 60px;line-height: 60px;color: #fff;font-size: 16px;font-weight: bolder;padding-left: 48px;cursor: pointer;position: relative;
		i{width: 17px;height: 17px;display: inline-block;@extend %y_icon;margin-right: 20px;vertical-align: -3px; *vertical-align: middle;
			
			&.ic01{background-position: 0px 0px;}
			&.ic02{background-position: -18px 0px;}
			&.ic03{background-position: -36px 0px;}
			&.ic04{background-position: -54px 0px;}
			&.ic05{background-position: -72px 0px;}
		}
		a{color: inherit;}
		&.on,&:hover{color: #fd3f3f;background: #3f3f4e;
			i{
				&.ic01{background-position: 0px -18px;}
				&.ic02{background-position: -18px -18px;}
				&.ic03{background-position: -36px -18px;}
				&.ic04{background-position: -54px -18px;}
				&.ic05{background-position: -72px -18px;}
			}
		}
		em{@extend %y_icon;background-position: 0 -70px;width: 8px;height: 4px;position: absolute;top:28px;right: 32px;}
	}
	ul{padding:8px 0;
		li{font-size: 14px;color: #798097;line-height: 38px;padding-left: 84px;
			a{color: inherit;color: #798097;
				&:hover{color:#fd3f3f }
			}
			&.on{
				a{color:#fd3f3f }
			}

		}
	}
}