<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="styles/styles.css">
</head>
<body>
	<div class="y_wrap">
		<div class="y_head">
			<div class="y_logo"><img src="images/y_logo.png" ></div>
			<div class="y_user">
				<a class="us" href=""><i></i>王菲</a><a href="">北京编辑</a>
			</div>
			<a class="y_icon01"></a>
		</div>
		<div class="y_main clearfix">
			<div class="y_left">
				<div class="y_nav">
					<h2><i class="ic01"></i>系统首页</h2>
					<h2 class="on"><i class="ic02"></i>知识管理<em></em></h2>
					<ul class=""> <!--none 为隐藏class名-->
						<li class="on"><a href="">管理知识</a></li>
						<li><a href="">添加知识</a></li>
					</ul>

					<h2><i class="ic03"></i>词条管理<em></em></h2>
					<ul>
						<li><a href="">管理词条</a></li>
						<li><a href="">添加词条</a></li>
					</ul>

					<h2><i class="ic04"></i>用户管理<em></em></h2>
					<ul>
						<li><a href="">角色管理</a></li>
						<li><a href="">用户管理</a></li>
					</ul>

					<h2><i class="ic05"></i>栏目管理<em></em></h2>
					<ul>
						<li><a href="">知识栏目</a></li>
					</ul>
				</div>
			</div>
			<div class="y_right">
				<h3 class="d-title clearfix">
					<span>角色管理</span>
					<a href="#" class="l_btn l_red">创建角色</a>
				</h3>
				<table class="d-table d-mt20">
					<thead>
						<th>角色</th>
						<th>数量</th>
						<th>操作</th>
					</thead>
					<tbody>
						<tr>
							<td><span>超级管理</span></td>
							<td><span>2</span></td>
							<td><a href="#">权限编辑</a></td>
						</tr>
						<tr>
							<td><span>系统管理</span></td>
							<td><span>2</span></td>
							<td><a href="#">权限编辑</a></td>
						</tr>
						<tr>
							<td><span>内容管理</span></td>
							<td><span>2</span></td>
							<td><a href="#">权限编辑</a></td>
						</tr>
					</tbody>
				</table>
				<div class="d-pages clearfix">
					<em>共3条</em>
					<div class="d-pagebox">
						<a class="d-pageBtn-2" href="#">首页</a>
						<a class="d-pageBtn" href="#">上一页</a>
						<a href="#">1</a>
						<span>2</span>
						<a class="d-pageBtn" href="#">下一页</a>
						<a class="d-pageBtn-2" href="#">末页</a>
						到第<input class="d-inp" type="text">页
						<a href="#" class="d-submit">确定</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>