<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="styles/styles.css">
</head>
<body>
	<div class="y_wrap">
		<div class="y_head">
			<div class="y_logo"><img src="images/y_logo.png" ></div>
			<div class="y_user">
				<a class="us" href=""><i></i>王菲</a><a href="">北京编辑</a>
			</div>
			<a class="y_icon01"></a>
		</div>
		<div class="y_main clearfix">
			<div class="y_left">
				<div class="y_nav">
					<h2><i class="ic01"></i>系统首页</h2>
					<h2 class="on"><i class="ic02"></i>知识管理<em></em></h2>
					<ul class=""> <!--none 为隐藏class名-->
						<li class="on"><a href="">管理知识</a></li>
						<li><a href="">添加知识</a></li>
					</ul>

					<h2><i class="ic03"></i>词条管理<em></em></h2>
					<ul>
						<li><a href="">管理词条</a></li>
						<li><a href="">添加词条</a></li>
					</ul>

					<h2><i class="ic04"></i>用户管理<em></em></h2>
					<ul>
						<li><a href="">角色管理</a></li>
						<li><a href="">用户管理</a></li>
					</ul>

					<h2><i class="ic05"></i>栏目管理<em></em></h2>
					<ul>
						<li><a href="">知识栏目</a></li>
					</ul>
				</div>
			</div>
			<div class="y_right">
				<div class="ty_content">
					<h3 class="d-title clearfix">
						<span>用户管理</span>
					</h3>
					<div class="ty_Ctop clearfix">
						<ul class="clearfix">
							<li>
								<span>城市</span>
								<select class="w102" name="" id="">
									<option value="" selected>请选择</option>
									<option value=""></option>
									<option value=""></option>
								</select>
							</li>
							<li><span>联系方式</span><input type="text"></li>
							<li><span>姓名</span><input class="w110" type="text"></li>
							<li class="ty_nearby">
								<span>最近登录</span><input class="w114" type="text" placeholder="起始时间"><i class="ty_date"></i>
							</li>
							<li><span>至</span></li>
							<li>
								<input class="w114" type="text" placeholder="起始时间"><i class="ty_date"></i>
							</li>
							<li class="fr"><a href="#" class="l_btn l_red">查询</a></li>
						</ul>
					</div>
					<div class="ty_list">
						<table class="d-table">
							<thead>
								<th>UID</th>
								<th>姓名</th>
								<th>联系方式</th>
								<th>城市</th>
								<th>角色</th>
								<th>创建时间</th>
								<th>最近登录</th>
								<th>状态</th>
								<th>操作</th>
							</thead>
							<tbody>
								<tr>
									<td><span>5765756</span></td>
									<td><span>海德基尔</span></td>
									<td><span>leju@leju.com</span></td>
									<td><span>毛里求斯</span></td>
									<td>
										<div class="ty_selectIn">
											<div class="ty_selectsee">
												<span>内容管理</span><span><i class="ty_select2"></i></span>
											</div>
											<div class="ty_selectul none">
												<ul>
													<li>系统管理</li>
													<li>运营管理</li>
													<li>内容管理</li>
												</ul>
											</div>
										</div>
									</td>
									<td><span>2016年10月10日</span></td>
									<td><span>2016年10月10日</span></td>
									<td><span class="a5">已删除</span></td>
									<td><p class="last"><a class="a2_2" href="">恢复</a></p></td>
								</tr>
								<tr>
									<td><span>5765756</span></td>
									<td><span>海德基尔</span></td>
									<td><span>leju@leju.com</span></td>
									<td><span>毛里求斯</span></td>
									<td>
										<div class="ty_selectIn">
											<div class="ty_selectsee">
												<span>内容管理</span><span><i class="ty_select2"></i></span>
											</div>
											<div class="ty_selectul none">
												<ul>
													<li>系统管理</li>
													<li>运营管理</li>
													<li>内容管理</li>
												</ul>
											</div>
										</div>
									</td>
									<td><span>2016年10月10日</span></td>
									<td><span>------</span></td>
									<td><span>正常</span></td>
									<td><p class="last"><a class="a2" href="">删除</a></p></td>
								</tr>
								<tr>
									<td><span>5765756</span></td>
									<td><span>海德基尔</span></td>
									<td><span>leju@leju.com</span></td>
									<td><span>毛里求斯</span></td>
									<td>
										<div class="ty_selectIn">
											<div class="ty_selectsee on">
												<span>内容管理</span><span><i class="ty_select2"></i></span>
											</div>
											<div class="ty_selectul">
												<ul>
													<li>系统管理</li>
													<li>运营管理</li>
													<li>内容管理</li>
												</ul>
											</div>
										</div>
									</td>
									<td><span>2016年10月10日</span></td>
									<td><span>2016年10月10日</span></td>
									<td><span>正常</span></td>
									<td><p class="last"><a class="a2" href="">删除</a></p></td>
								</tr>
								<tr>
									<td><span>5765756</span></td>
									<td><span>海德基尔</span></td>
									<td><span>leju@leju.com</span></td>
									<td><span>毛里求斯</span></td>
									<td>
										<div class="ty_selectIn">
											<div class="ty_selectsee">
												<span>内容管理</span><span><i class="ty_select2"></i></span>
											</div>
											<div class="ty_selectul none">
												<ul>
													<li>系统管理</li>
													<li>运营管理</li>
													<li>内容管理</li>
												</ul>
											</div>
										</div>
									</td>
									<td><span>2016年10月10日</span></td>
									<td><span>2016年10月10日</span></td>
									<td><span>正常</span></td>
									<td><p class="last"><a class="a2" href="">删除</a></p></td>
								</tr>
							</tbody>
						</table>
						<div class="d-pages clearfix">
							<em>共4</em>
							<div class="d-pagebox">
								<a class="d-pageBtn-2" href="#">首页</a>
								<a class="d-pageBtn" href="#">上一页</a>
								<a href="#">1</a>
								<span>2</span>
								<a class="d-pageBtn" href="#">下一页</a>
								<a class="d-pageBtn-2" href="#">末页</a>
								到第<input class="d-inp" type="text">页
								<a href="#" class="d-submit">确定</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>