<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="styles/styles.css">
</head>
<body>
	<div class="y_wrap">
		<div class="y_head">
			<div class="y_logo"><img src="images/y_logo.png" ></div>
			<div class="y_user">
				<a class="us" href=""><i></i>王菲</a><a href="">北京编辑</a>
			</div>
			<a class="y_icon01"></a>
		</div>
		<div class="y_main clearfix">
			<div class="y_left">
				<div class="y_nav">
					<h2><i class="ic01"></i>系统首页</h2>
					<h2><i class="ic02"></i>知识管理<em></em></h2>
					<ul class=""> <!--none 为隐藏class名-->
						<li><a href="">管理知识</a></li>
						<li><a href="">添加知识</a></li>
					</ul>

					<h2><i class="ic03"></i>词条管理<em></em></h2>
					<ul>
						<li><a href="">管理词条</a></li>
						<li><a href="">添加词条</a></li>
					</ul>

					<h2 class="on"><i class="ic04"></i>用户管理<em></em></h2>
					<ul>
						<li><a href="">角色管理</a></li>
						<li class="on"><a href="">用户管理</a></li>
					</ul>

					<h2><i class="ic05"></i>栏目管理<em></em></h2>
					<ul>
						<li><a href="">知识栏目</a></li>
					</ul>
				</div>
			</div>
			<div class="y_right">
				<div class="ty_content">
					<h3 class="d-title clearfix">
						<span>内容编辑</span>
						<div class="b_title_r">
							<span class="tit">历史版本：</span>
							<select class="w235">
								<option value="">v1吕强 2016年10月12日 16:58：45</option>
							</select>
						</div>
					</h3>
					<div class="b_wrapper">
						<div class="b_main">
							<div class="b_card">
								<span>城市： </span>
								<div class="inpBox">
									<select class="w215"><option value="">请选择</option></select>
								</div>
							</div>
							<div class="b_card">
								<span>标题： </span>
								<div class="inpBox">
									<input type="text" class="inp w285">
								</div>
							</div>
							<div class="b_card">
								<span>栏目： </span>
								<div class="inpBox">
									<select class="w120"><option value="">买房</option></select><select class="w120"><option value="">请选择</option></select><select class="w120"><option value="">请选择</option></select>
								</div>
							</div>
							<div class="b_card clearfix">
								<span>内&emsp;&emsp;容：</span>
								<div class="inpBox07">
									<div class="b_editBox">
										<h3><a href="#" class="btn01"></a><a href="#" class="btn02"></a><a href="#" class="btn03"></a></h3>
										<div class="editCon">
											<div class="editInp"><label for="">段落标题：</label><input type="text"></div>
											<div class="editInp"><label for="">段落标题：</label><div class="editBox01"></div></div>
										</div>
									</div>
									<div class="b_editBox mb0">
										<h3><a href="#" class="btn01"></a><a href="#" class="btn02"></a><a href="#" class="btn03"></a></h3>
										<div class="editCon">
											<div class="editInp"><label for="">段落标题：</label><input type="text"></div>
											<div class="editInp"><label for="">段落标题：</label><div class="editBox01"></div></div>
										</div>
									</div>
								</div>
							</div>
							<div class="b_card clearfix">
								<span>配&emsp;&emsp;图：</span>
								<div class="inpBox">
									<div class="left"><img src="images/bImg01.png" alt=""></div>
									<div class="right">
										<input type="button" class="l_btn l_grn" value="点击上传图片">
										<p>请选择jpg、gif格式，小于2M的图</p>
									</div>
								</div>
							</div>
							<div class="b_card">
								<span>作&emsp;&emsp;者：</span>
								<div class="inpBox">
									<select name="" id="" class="w215">
										<option value="">黛竹</option>
									</select>
								</div>
							</div>
							<div class="b_card clearfix">
								<span>定时发布：</span>
								<div class="date inpBox07">
									<input type="text" class="inp w215">
									<i></i>
								</div>
							</div>
							<div class="b_card clearfix">
								<span>推&emsp;&emsp;荐：</span>
								<div class="inpBox07">
									<h2>
										<input type="checkbox" class="checkbox"><b>首页焦点图</b><input type="text" placeholder="自定义推荐标题" class="inp"><img src="images/bImg02.png" alt=""><input type="button" class="l_btn l_grn" value="自定义图片"><em>请选择jpg、gif格式，小于2M的图</em>
									</h2>
									<h2><input type="checkbox" class="checkbox"><b>首页名人</b><input type="text" placeholder="自定义推荐标题" class="inp"><img src="images/bImg03.png" alt=""><input type="button" class="l_btn l_grn" value="自定义图片"><em>请选择jpg、gif格式，小于2M的图</em></h2>
									<h2><input type="checkbox" class="checkbox"><b>首页名企</b><input type="text" placeholder="自定义推荐标题" class="inp"><img src="images/bImg02.png" alt=""><input type="button" class="l_btn l_grn" value="自定义图片"><em>请选择jpg、gif格式，小于2M的图</em></h2>
								</div>
							</div>
							<div class="b_card">
								<span>类&emsp;&emsp;别：</span>
								<div class="inpBox">
									<select class="w105">
										<option value="">人物</option>
									</select>
								</div>
							</div>
							<div class="b_card clearfix">
								<span>标&emsp;&emsp;签：</span>
								<div class="inpBox label">
									<a href="#" class="l_btn b_del">删除</a><em>保利国际地产<i></i></em><em>南海子公园<i></i></em><input type="text" placeholder="输入标签" class="inp w190">
								</div>
							</div>
							<div class="b_card clearfix">
								<span>相关资讯：</span>
								<div class="inpBox07">
									<div class="clearfix b_form">
										<input type="text" class="inp w293" placeholder="输入新闻ID">
										<input type="button" class="l_btn l_red" value="添加">
									</div>
									<ul class="b_list01">
										<li class="cur clearfix"><em>亏死胆小的撑死胆大的看别人如何买房赚钱</em><a href="#" class="selected"></a><i></i><a href="#" class="link"></a><i></i><a href="#" class="del"></a></li>
										<li class="clearfix"><em>·   930新政引发解约潮  9月北京租赁量价齐跌</em><a href="#" class="edit"></a><i></i><a href="#" class="link"></a><i></i><a href="#" class="del"></a></li>
										<!-- <a href="#" class="link-a"></a><i></i><a href="#" class="del-a"></a> -->
										<li class="clearfix"><em>·   三季度房企业绩瞩目  新政或加速行业并购</em><a href="#" class="edit"></a><i></i><a href="#" class="link"></a><i></i><a href="#" class="del"></a></li>
										<li class="clearfix"><em>·   北京新政见效    新房二手房成交量降温明显</em><a href="#" class="edit"></a><i></i><a href="#" class="link"></a><i></i><a href="#" class="del"></a></li>
										<li class="clearfix"><em>·   930新政引发解约潮   9月北京租赁量价齐跌</em><a href="#" class="edit"></a><i></i><a href="#" class="link"></a><i></i><a href="#" class="del"></a></li>
									</ul>
								</div>
							</div>
							<div class="b_card clearfix">
								<span>相关楼盘：</span>
								<div class="inpBox07">
									<div class="clearfix b_form">
										<input type="text" class="inp w245" placeholder="输入新闻ID  （CITYEN+HID组成）">
										<input type="button" class="l_btn l_red" value="添加">
									</div>
									<ul class="b_list02 clearfix">
										<li>碧桂园<a href="#" class="link-o"></a><i></i><a href="#" class="del-o"></a></li>
										<li>保利国际地产<a href="#" class="link-o"></a><i></i><a href="#" class="del-o"></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="b_btnBox clearfix">
							<a href="#" class="l_btn l_grn">发布</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>