<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="styles/styles.css">
	<style>
		.clearfix { padding: 10px 0 0 10px;}
		.clearfix .l_btn { margin: 0 5px;}
	</style>
</head>
<body>
	<div class="clearfix">
		<input type="button" class="l_btn l_grn" value="已审核">
		<input type="button" class="l_btn l_gry" value="未审核">
		<input type="button" class="l_btn l_red" value="查询">
		<input type="button" class="l_btn l_grn" value="自定义图片">
		<input type="button" class="l_btn l_grn" value="点击上传图片">
	</div>
	<div class="clearfix">
		<a href="#" class="l_btn l_grn">已审核</a>
		<a href="#" class="l_btn l_gry">未审核</a>
		<a href="#" class="l_btn l_red">查询</a>
		<a href="#" class="l_btn l_grn">自定义图片</a>
		<a href="#" class="l_btn l_grn">点击上传图片</a>
	</div>
</body>
</html>