<div class="ty_content">
	<h3 class="d-title clearfix">
		<span>乐道问答 - 回答列表</span>
	</h3>
	<form id="searchForm" action="" method="get">
	<div class="ty_Ctop clearfix">
		<ul class="clearfix">
			<li><a href="/Question/company" class="l_btn">公司管理</a></li>
			<li>&nbsp;</li>
			<li><a href="/Question/ldq" class="l_btn">问题管理</a></li>
			<li>&nbsp;</li>
			<li><a href="javascript:;" class="l_btn l_grn">回答管理</a></li>
		</ul>
	</div>
	<div class="ty_Ctop clearfix">
		<ul class="clearfix">
			<li>
				<span>城市</span>
				<?php
				$cfg = array('class'=>'w110', 'name'=>'city', 'id'=>'',);
				echo search_form_select($form['city'], $cities, $cfg);
				?>
			</li>
			<li>
				<?php
				$lds = isset($cities[$form['city']]) ? $cities[$form['city']]['ld'] : [];
				$cfg = array('class'=>'w102', 'name'=>'name', 'id'=>'',);
				echo search_form_select($form['name'], $lds, $cfg);
				?>
			</li>
			<li><span>状态</span>
				<?php
				$cfg = array('class'=>'w102', 'name'=>'status', 'id'=>'',);
				echo search_form_select($form['status'], $dict['ANSWER_STATUS'], $cfg);
				?>
			</li>
			<li><span>内容</span><?php
				$cfg = array('class'=>'w110', 'name'=>'keyword', 'id'=>'',);
				echo search_form_input($form['keyword'], $cfg); ?></li>
			<li class="fr"><a href="javascript:;" class="l_btn l_red">查询</a></li>
		</ul>
	</div>
	<div class="ty_list">
		<notempty name="list">
		<table class="d-table">
			<thead>
				<th>回答ID</th>
				<th>回答内容</th>
				<th>所属问题</th>
				<th>所属公司</th>
				<th>用户昵称</th>
				<th>用户ID</th>
				<th>城市</th>
				<th>创建时间</th>
				<th>更新时间</th>
				<th>来源</th>
				<th>关注数</th>
				<th>浏览数</th>
				<th>评论数</th>
				<th>点赞数</th>
				<th>状态</th>
				<th>操作</th>
			</thead>
			<tbody>
				<foreach name="list" item="vo" key="k" >
				<tr>
					<td><span>{$vo.id}</span></td>
					<td><span>{$vo.reply}</span></td>
					<td><span>{$vo.title}</span></td>
					<td><span>{$vo.company_name}</span></td>
					<td><span>{$vo.extra.usernick}</span></td>
					<td><span>{$vo.userid}</span></td>
					<td><span>{$vo.city}</span></td>
					<td><span>{$vo.ctime|date="Y.m.d", ###}</span></td>
					<td><span>{$vo.ctime|date="Y.m.d", ###}</span></td>
					<td><span><?php
						$source = intval($vo['source']);
						$source_info = $dict['SOURCE'][$source]['name'];
						echo $source_info;
					?></span></td>
					<td><span>{$vo.i_attention}</span></td>
					<td><span>{$vo.i_hits}</span></td>
					<td><span>{$vo.i_comments}</span></td>
					<td><span>{$vo.i_good}</span></td>
					<td><span><?php
						$status = intval($vo['status']);
						$status_info = $dict['ANSWER_STATUS'][$status]['name'];
						echo $status_info;
					?></span></td>
					<td>
						<p class="last">
						<?php if ( $status ) { ?>
						<a class="a2 ldaction" data-api="/Question/ldaact/" data-p_id="{$vo.id}" data-p_act="del" href="javascript:;">关闭</a>
						<?php } else { ?>
						<a class="a2 ldaction" data-api="/Question/ldaact/" data-p_id="{$vo.id}" data-p_act="undel" href="javascript:;">开启</a>
						<?php } ?>
						</p>
					</td>
				</tr>
				</foreach>
			</tbody>
		</table>
		<notempty name="pager">
			<include file="Public:pager" />
		</notempty>
		</notempty>
		<empty name="list">
		<!-- 无结果 -->
		<div class="ty_Nores">
			您选择“条件搜索”后，<span>暂无数据</span>！
		</div>
		<!-- 无结果end -->
		</empty>
	</div>
	</form>
	<script type="text/javascript" src="http://cdn.leju.com/jQuery1.8.2;encyclopedia/js/base;encyclopedia/js/Pages/entry_manage.js?r"></script>
</div>

