<div class="ty_content">
	<h3 class="d-title wd-d-title clearfix">
		<span>{$title}问答管理</span>
	</h3>
	<div class="ty_Ctop clearfix">
		<ul class="clearfix">
			<form name="frmSearch" method="GET" action="">
			<li class="ty_lanmu">
				<span>栏目</span>
				<select name="cate1" data-value="{$opts.cate1}">
					<option value="">请选择</option>
				</select>
				<select name="cate2" data-value="{$opts.cate2}">
					<option value="">请选择</option>
				</select>
			</li>
			<li><span>标签</span><input name="tag" class="w166" type="text" value="{$opts.tag}"></li>
			<li>
				<span>状态</span>
				<select class="w102" name="status">
					<option value="">请选择</option>
					<?php
					foreach ( $dict['status'] as $status => $item ) {
						if ( strval($status) == strval($opts['status']) ) {
					?>
					<option value="{$status}" selected>{$item.label}</option>
					<?php } else { ?>
					<option value="{$status}">{$item.label}</option>
					<?php
						}
					}
					?>
				</select>
			</li>
			<li><span>编号</span><input class="w166" type="text" name="id" value="{$opts.id}"></li>
			<li><span>内容</span><input class="w166" type="text" name="keyword" value="{$opts.keyword}"></li>
			<li>
				<span>答案</span>
				<select class="w102" name="answered">
					<?php
					foreach ( $dict['answered'] as $flag => $item ) {
						if ( strval($flag) == strval($opts['answered']) ) {
					?>
					<option value="{$flag}" selected>{$item.label}</option>
					<?php } else { ?>
					<option value="{$flag}">{$item.label}</option>
					<?php
						}
					}
					?>
				</select>
			</li>
			<li class="fr"><a href="javascript:;" class="l_btn l_red">查询</a></li>
			</form>
		</ul>
	</div>

<eq name="pager.total" value="0">
	<!-- 无结果 -->
	<div class="ty_Nores">
		您选择“条件搜索”后，<span>暂无数据</span>！
	</div>
	<!-- 无结果end -->
<else/>

	<div class="ty_list wd-ty_list">
		<table class="d-table wd-table">
			<thead>
			<tr>
				<th width="70">#</th>
				<th width="150">栏目</th>
				<th width="150">标签</th>
				<th width="140">问题</th>
				<th width="70">用户</th>
				<th width="70">城市</th>
				<th width="90">创建时间</th>
				<th width="90">更新时间</th>
				<th width="40">来源</th>
				<th width="40">浏览</th>
				<th width="40">回答</th>
				<th width="40">点赞</th>
				<th width="70">状态</th>
				<th width="70">推荐</th>
				<th width="80">操作</th>
			</tr>
			</thead>
			<tbody>
			<?php $dict_ask = C('DICT.ASK'); $sources = &$dict_ask['SRC']; ?>
			<foreach name="list" item="vo">
				<tr data-id="{$vo.id}" data-sign="{$vo._id}">
					<td>{$vo.id}</td>
					<td><a data-catepath="{$vo.catepath}" href="javascript:;" class="wd-hover-1 lanmu">{$vo.catepath}<i class="wd-icon-1"></i></a></td>
					<td><a href="javascript:;" class="wd-hover-1 tag"><?php
					// 渲染已设置的标签
					$tags = array();
					foreach ( $vo['tagsinfo'] as $_i => $tag ) {
						$tagname = trim($tag['name']);
						if ( $tagname=='' ) { continue; }
						array_push($tags, $tagname);
					}
					if ( !empty($tags) ) {
						echo implode(',', $tags);
					} else {
						echo '添加标签';
					}
					?></a></td>
					<td class="tl">
					<?php
					$url = '';
					if ( in_array($vo['status'], array(21,22,23)) ) {
						$url = url('show', array($vo['id']), 'pc', 'ask');
					} else {
						$url = 'javascript:;';
					}
					?>
					<a href="<?php echo $url; ?>"<?php if ( $url!='javascript:;' ) echo ' target="_blank"'; ?> class="wd-hover-2 question">{$vo.title}<br>{$vo.desc}</a><?php if ( intval($vo['i_images'])>0 || (isset($vo['data']['images']) && is_array($vo['data']['images']) && count($vo['data']['images'])>0) ) { echo '<i class="wd-icon-2"></i>'; } ?></td>
					<td data-uid="{$vo.userid}"><?php echo trim($vo['usernick'])=='' ? '乐居网友' : $vo['usernick']; ?></td>
					<td>{$vo.scope}</td>
					<td><?php if ( $vo['ctime']>0 ) echo date('Y-m-d', $vo['ctime']); ?></td>
					<td><?php
					if ( $vo['utime']>0 ) {
						echo date('Y-m-d', $vo['utime']); 
					}else {
						echo date('Y-m-d', $vo['ctime']);
					} ?></td>
					<td><?php if ( $vo['source']!=0 ) {
						$source = intval($vo['source']);
						$source_name = !array_key_exists($source, $sources) ? '未知' : $sources[$vo['source']]['name'];
					}
					if ( $vo['source']==0 ) { ?>
					<a href="{$vo.data.origin.url|default='javascript:;'}" target="_blank" class="wd-hover-3">收录</a>
					<?php } else { echo $source_name; } ?></td>
					<td><a href="javascript:;" class="wd-hover-2">{$vo.i_hits}</a></td>
					<td><a href="javascript:;" class="wd-hover-2 answer">{$vo.i_replies}/{$vo.a_replies}</a></td>
					<td><a href="javascript:;" class="wd-hover-2">{$vo.i_goods}</a></td>
					<td class="<?php echo $dict['status'][$vo['status']]['class']; ?>">
					<?php echo $dict['status'][$vo['status']]['label']; ?>
					<?php
						// 存在敏感词，需要审核
						if ( intval($vo['status'])==12 ) {
							if ( isset($vo['data']['sensitive']) && !empty($vo['data']['sensitive']) ) {
								$sensitive = $vo['data']['sensitive'];
					?>
						<i class="wd-icon-4"></i>
						<div class="wd-alert">
							<div class="wd-alert-con">内容中出现<?php
							$words = isset($sensitive['words']) ? $sensitive['words'] : array();
							if ( $words ) {
								foreach ( $words as $i => &$word ) {
									$word = '<span class="l_red2">'.$word.'</span>';
								}
								echo implode('、', $words). ' 等禁发词。';
							} else {
								echo '系统设定的敏感词!';
							}
							?><br>系统提示：内容疑似为{$sensitive.type}内容，请酌情处理。</div>
						</div>
					<?php
							}	// end if has sensitive segment
						}	// end status equal code: 12 (need verify)
					?>
					</td>
					<td><a href="javascript:;" class="wd-hover-4">
						<?php
						// 2017年3月21日 需求更新，去掉了文字推荐
						if ( in_array($vo['id'], $recommend['focus']) ) {
							echo '<span class="picrecommen" style="color:green">首页图文</span>';
						} else {
							echo '<span class="picrecommen">首页图文</span>';
						}
						?>
						</a>
					</td>
					<td>
					<?php if ( intval($vo['status'])==11 ) { ?>
						<a href="javascript:;" class="wd-op cmdConfirm">确认</a>
					<?php } ?>
					<?php if ( intval($vo['status'])==12 ) { ?>
						<a href="javascript:;" class="wd-op cmdPass">通过</a>
					<?php } ?>
					<?php if ( intval($vo['status'])==0 ) { ?>
						<a href="javascript:;" class="wd-op l_blue cmdRestore">恢复</a>
					<?php } else { ?>
						<a href="javascript:;" class="wd-op cmdDel">删除</a>
					<?php }?>
					</td>
				</tr>
			</foreach>
			</tbody>
		</table>

		<div class="d-pages clearfix">
			<notempty name="pager">
				<include file="Public:pager" />
			</notempty>
		</div>
		<div class="wd-ans-bg hide wd-hide "></div>
		<div class="wd-ans hide wd-hide ">
			<div class="wd-ans-title">
				答案
				<a href="javascript:;" class="wd-ans-close"></a>
			</div>
			<div class="wd-ans-con">
				<table class="d-table wd-table">
					<thead>
					<tr>
						<th width="150">答案</th>
						<th width="70">用户</th>
						<th width="70">城市</th>
						<th width="90">时间</th>
						<th width="40">来源</th>
						<th width="40">点赞数</th>
						<th width="70">状态</th>
						<th width="80">操作</th>
					</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</eq>

</div>

<script>
var catetree = '{$catetree}';
</script>
<script type="text/javascript">
    (function(){
        window.tags_config = {
            wrapClass:'poptag',      //容器class
            insertCss:true,    //是否插入外链样式文件修改
            necessFill:false,     //是否必填
            callBack:function(e){
            },
            afterRender:function(){
	    },
            key:'5ed33f7008771c9d49e3716aeaeca581'  //测试业务key
        }
    })();
</script>
<script type="text/javascript" src="http://cdn.leju.com/jQuery1.8.2;encyclopedia/js/base;encyclopedia/js/Pages/qa_manage.js?r"></script>
