<div class="ty_content">
	<h3 class="d-title clearfix">
		<span>人物问答 - 问题列表</span>
	</h3>
	<form id="searchForm" action="" method="get">
	<div class="ty_Ctop clearfix">
		<ul class="clearfix">
			<li><a href="/Question/person" class="l_btn">人物管理</a></li>
			<li>&nbsp;</li>
			<li><a href="javascript:;" class="l_btn l_grn">问题管理</a></li>
			<li>&nbsp;</li>
			<li><a href="/Question/pna" class="l_btn">回答管理</a></li>
		</ul>
	</div>
	<div class="ty_Ctop clearfix">
		<ul class="clearfix">
			<li>
				<span>人物</span>
				<?php
				$cfg = array('class'=>'w102', 'name'=>'name', 'id'=>'',);
				echo search_form_select($form['name'], $persons, $cfg);
				?>
			</li>
			<li><span>状态</span>
				<?php
				$cfg = array('class'=>'w102', 'name'=>'status', 'id'=>'',);
				echo search_form_select($form['status'], $dict['QUESTION_STATUS'], $cfg);
				?>
			</li>
			<li>
				<?php
				$cfg = array('class'=>'w102', 'name'=>'essence', 'id'=>'',);
				echo search_form_select($form['essence'], $dict['QESSENCE'], $cfg);
				?>
			</li>
			<li>
				<?php
				$cfg = array('class'=>'w102', 'name'=>'ontop', 'id'=>'',);
				echo search_form_select($form['ontop'], $dict['QTOP'], $cfg);
				?>
			</li>
			<li><span>内容</span><?php
				$cfg = array('class'=>'w110', 'name'=>'keyword', 'id'=>'',);
				echo search_form_input($form['keyword'], $cfg); ?></li>
			<li class="fr"><a href="javascript:;" class="l_btn l_red">查询</a></li>
		</ul>
	</div>
	<div class="ty_list">
		<notempty name="list">
		<table class="d-table">
			<thead>
				<th>问题ID</th>
				<th>所属人物</th>
				<th>用户昵称</th>
				<th>用户ID</th>
				<th>问题标题</th>
				<th>创建时间</th>
				<th>更新时间</th>
				<th>来源</th>
				<th>关注数</th>
				<th>浏览数</th>
				<th>回答数</th>
				<th>状态</th>
				<th>置顶</th>
				<th>精华</th>
				<th>操作</th>
			</thead>
			<tbody>
				<foreach name="list" item="vo" key="k" >
				<tr>
					<td><span>{$vo.id}</span></td>
					<td><span>{$vo.person_name}</span></td>
					<td><span>{$vo.extra.usernick}</span></td>
					<td><span>{$vo.userid}</span></td>
					<td><span>{$vo.title}</span></td>
					<td><span>{$vo.ctime|date='Y.m.d', ###}</span></td>
					<td><span>{$vo.utime|date='Y.m.d', ###}</span></td>
					<td><span><?php echo $dict['SOURCE'][$vo['source']]['name']; ?></span></td>
					<td><span>{$vo.i_attention}</span></td>
					<td><span>{$vo.i_hits}</span></td>
					<td><span>{$vo.i_replies}</span></td>
					<td><span><?php
						$status = intval($vo['status']);
						$status_info = $dict['QUESTION_STATUS'][$status]['name'];
						echo $status_info;
					?></span></td>
					<td><span><?php
						$ontop = intval($vo['ontop']) == 0 ? 0 : 1;
						echo $dict['QTOP'][$ontop]['name'];
					?></span></td>
					<td><span><?php
						$essence = intval($vo['essence']) == 0 ? 0 : 1;
						echo $dict['QESSENCE'][$essence]['name'];
					?></span></td>
					<td>
						<p class="last">
						<?php if ( $status!=0 ) { ?>
						<a class="a2 ldaction" data-api="/Question/pnqact/" data-p_id="{$vo.id}" data-p_act="del" href="javascript:;">删除</a>
						<?php } else { ?>
						<a class="a2 ldaction" data-api="/Question/pnqact/" data-p_id="{$vo.id}" data-p_act="undel" href="javascript:;">恢复</a>
						<?php } ?>
						<?php if ( $ontop==0 ) { ?>
						<a class="a2 ldaction" data-api="/Question/pnqact/" data-p_id="{$vo.id}" data-p_act="ontop" href="javascript:;">置顶</a>
						<?php } else { ?>
						<a class="a2 ldaction" data-api="/Question/pnqact/" data-p_id="{$vo.id}" data-p_act="untop" href="javascript:;">取消置顶</a>
						<?php } ?>
						<?php if ( $essence==0 ) { ?>
						<a class="a2 ldaction" data-api="/Question/pnqact/" data-p_id="{$vo.id}" data-p_act="oness" href="javascript:;">精华</a>
						<?php } else { ?>
						<a class="a2 ldaction" data-api="/Question/pnqact/" data-p_id="{$vo.id}" data-p_act="uness" href="javascript:;">取消精华</a>
						<?php } ?>
						</p>
					</td>
				</tr>
				</foreach>
			</tbody>
		</table>
		<notempty name="pager">
			<include file="Public:pager" />
		</notempty>
		</notempty>
		<empty name="list">
		<!-- 无结果 -->
		<div class="ty_Nores">
			您选择“条件搜索”后，<span>暂无数据</span>！
		</div>
		<!-- 无结果end -->
		</empty>
	</div>
	</form>
	<script type="text/javascript" src="http://cdn.leju.com/jQuery1.8.2;encyclopedia/js/base;encyclopedia/js/Pages/entry_manage.js?r"></script>
</div>

