%y_icon{background: url(../images/y_icon.png) no-repeat;}
%l_icon { background: url("../images/l_icon.png") no-repeat;}
%bSprite { background: url(../images/bSprite.png) no-repeat; background-size: 200px 200px;}